<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1154,1144},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1288,1144},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,169}</string>
                <key>spriteSourceSize</key>
                <string>{170,169}</string>
                <key>textureRect</key>
                <string>{{812,1144},{170,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rule_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,169}</string>
                <key>spriteSourceSize</key>
                <string>{170,169}</string>
                <key>textureRect</key>
                <string>{{983,1144},{170,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,251}</string>
                <key>spriteSourceSize</key>
                <string>{244,251}</string>
                <key>textureRect</key>
                <string>{{812,891},{244,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,251}</string>
                <key>spriteSourceSize</key>
                <string>{244,251}</string>
                <key>textureRect</key>
                <string>{{1058,891},{244,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_role.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{809,710}</string>
                <key>spriteSourceSize</key>
                <string>{819,710}</string>
                <key>textureRect</key>
                <string>{{1,643},{809,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,246}</string>
                <key>spriteSourceSize</key>
                <string>{562,246}</string>
                <key>textureRect</key>
                <string>{{812,643},{562,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1421,1354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d683f11689e933deb2e9c5c78f677ce0:c7be81904d447d8dde9284dd836a4431:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
