<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,864}</string>
                <key>spriteSourceSize</key>
                <string>{640,864}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,738}</string>
                <key>spriteSourceSize</key>
                <string>{640,738}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_role_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,704}</string>
                <key>spriteSourceSize</key>
                <string>{640,704}</string>
                <key>textureRect</key>
                <string>{{1,867},{640,704}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{640,358}</string>
                <key>spriteSourceSize</key>
                <string>{640,412}</string>
                <key>textureRect</key>
                <string>{{1383,1},{640,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,327}</string>
                <key>spriteSourceSize</key>
                <string>{608,327}</string>
                <key>textureRect</key>
                <string>{{643,643},{608,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,319}</string>
                <key>spriteSourceSize</key>
                <string>{590,319}</string>
                <key>textureRect</key>
                <string>{{1111,1239},{590,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{594,319}</string>
                <key>spriteSourceSize</key>
                <string>{596,319}</string>
                <key>textureRect</key>
                <string>{{972,643},{594,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_word_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,224}</string>
                <key>spriteSourceSize</key>
                <string>{425,224}</string>
                <key>textureRect</key>
                <string>{{1293,643},{425,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_word_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{349,213}</string>
                <key>spriteSourceSize</key>
                <string>{353,213}</string>
                <key>textureRect</key>
                <string>{{1293,869},{349,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_word_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{466,233}</string>
                <key>spriteSourceSize</key>
                <string>{468,235}</string>
                <key>textureRect</key>
                <string>{{643,1253},{466,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1742,1572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d0db565638d07b5827fb33b35e51f24:8fd8e2e89636089ff070b3983466f516:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
