<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_role_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,418}</string>
                <key>spriteSourceSize</key>
                <string>{594,418}</string>
                <key>textureRect</key>
                <string>{{1,1},{594,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{129,144}</string>
                <key>textureRect</key>
                <string>{{1126,221},{129,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,210}</string>
                <key>spriteSourceSize</key>
                <string>{216,210}</string>
                <key>textureRect</key>
                <string>{{597,221},{216,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_role_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{131,170}</string>
                <key>spriteSourceSize</key>
                <string>{147,178}</string>
                <key>textureRect</key>
                <string>{{993,221},{131,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_role_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,176}</string>
                <key>spriteSourceSize</key>
                <string>{207,176}</string>
                <key>textureRect</key>
                <string>{{815,221},{207,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,218}</string>
                <key>spriteSourceSize</key>
                <string>{685,218}</string>
                <key>textureRect</key>
                <string>{{597,1},{685,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1283,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cc008da6f4d5021becc46333573a5d8:9f740928749d2b2380cdcac3ef4ef577:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
