<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,761}</string>
                <key>spriteSourceSize</key>
                <string>{555,761}</string>
                <key>textureRect</key>
                <string>{{646,2},{555,761}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_5.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,761}</string>
                <key>spriteSourceSize</key>
                <string>{555,761}</string>
                <key>textureRect</key>
                <string>{{1205,2},{555,761}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{500,1909},{60,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_w_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{1906,2},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{1764,321},{34,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{44,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{1854,1744},{44,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{34,78}</string>
                <key>spriteSourceSize</key>
                <string>{34,96}</string>
                <key>textureRect</key>
                <string>{{1902,1361},{34,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{40,96}</string>
                <key>textureRect</key>
                <string>{{1764,2},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{318,351}</string>
                <key>spriteSourceSize</key>
                <string>{334,357}</string>
                <key>textureRect</key>
                <string>{{1248,1361},{318,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_role_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{549,604}</string>
                <key>spriteSourceSize</key>
                <string>{557,610}</string>
                <key>textureRect</key>
                <string>{{646,767},{549,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_tv_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{590,391}</string>
                <key>spriteSourceSize</key>
                <string>{604,407}</string>
                <key>textureRect</key>
                <string>{{1199,767},{590,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p2_tv_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{590,391}</string>
                <key>spriteSourceSize</key>
                <string>{604,407}</string>
                <key>textureRect</key>
                <string>{{1594,767},{590,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p2_w_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{254,58}</string>
                <key>textureRect</key>
                <string>{{1854,1682},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{47,64}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{500,1841},{47,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{47,62}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{1808,2},{47,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{637,1893},{34,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-144}</string>
                <key>spriteSize</key>
                <string>{326,361}</string>
                <key>spriteSourceSize</key>
                <string>{640,971}</string>
                <key>textureRect</key>
                <string>{{918,1375},{326,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_top.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_tu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-169,118}</string>
                <key>spriteSize</key>
                <string>{333,278}</string>
                <key>spriteSourceSize</key>
                <string>{671,514}</string>
                <key>textureRect</key>
                <string>{{1273,1716},{333,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_tu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,113}</string>
                <key>spriteSize</key>
                <string>{351,248}</string>
                <key>spriteSourceSize</key>
                <string>{671,514}</string>
                <key>textureRect</key>
                <string>{{918,1740},{351,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_tu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-152,-114}</string>
                <key>spriteSize</key>
                <string>{305,240}</string>
                <key>spriteSourceSize</key>
                <string>{671,514}</string>
                <key>textureRect</key>
                <string>{{1610,1682},{305,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p3_w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1902,1569},{44,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p3_w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{33,54}</string>
                <key>spriteSourceSize</key>
                <string>{33,70}</string>
                <key>textureRect</key>
                <string>{{684,1841},{33,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p3_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{32,70}</string>
                <key>textureRect</key>
                <string>{{1902,1511},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{589,494}</string>
                <key>spriteSourceSize</key>
                <string>{591,504}</string>
                <key>textureRect</key>
                <string>{{2,1406},{589,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-4}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{113,53}</string>
                <key>textureRect</key>
                <string>{{646,1375},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,48}</string>
                <key>textureRect</key>
                <string>{{605,1958},{37,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{600,1906},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4_w_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,48}</string>
                <key>textureRect</key>
                <string>{{850,1841},{37,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,53}</string>
                <key>textureRect</key>
                <string>{{1764,270},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,47}</string>
                <key>spriteSize</key>
                <string>{328,317}</string>
                <key>spriteSourceSize</key>
                <string>{714,1165}</string>
                <key>textureRect</key>
                <string>{{1570,1361},{328,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_d7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-367}</string>
                <key>spriteSize</key>
                <string>{414,431}</string>
                <key>spriteSourceSize</key>
                <string>{714,1165}</string>
                <key>textureRect</key>
                <string>{{500,1406},{414,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{1940,1361},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,61}</string>
                <key>spriteSourceSize</key>
                <string>{33,61}</string>
                <key>textureRect</key>
                <string>{{600,1841},{33,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,66}</string>
                <key>textureRect</key>
                <string>{{1859,2},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{34,66}</string>
                <key>textureRect</key>
                <string>{{1764,84},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,66}</string>
                <key>textureRect</key>
                <string>{{1902,1443},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{551,1900},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{1854,1801},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{1764,152},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{33,54}</string>
                <key>spriteSourceSize</key>
                <string>{33,58}</string>
                <key>textureRect</key>
                <string>{{1764,212},{33,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{45,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{551,1841},{45,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{30,55}</string>
                <key>spriteSourceSize</key>
                <string>{30,61}</string>
                <key>textureRect</key>
                <string>{{1854,1920},{30,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{33,55}</string>
                <key>spriteSourceSize</key>
                <string>{33,61}</string>
                <key>textureRect</key>
                <string>{{1854,1861},{33,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{637,1841},{43,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{34,50}</string>
                <key>textureRect</key>
                <string>{{742,1841},{34,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p7_w_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{796,1841},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p7_w_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{551,1958},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_2.png</string>
            <key>size</key>
            <string>{1987,1997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3412668bd4b1697b69cc3dbe3ff991a4:2042b4a456a20ba88a89a6dac32c885e:31021133e48e85962f91452f12f15d65$</string>
            <key>textureFileName</key>
            <string>main_2.png</string>
        </dict>
    </dict>
</plist>
