<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,761}</string>
                <key>spriteSourceSize</key>
                <string>{555,761}</string>
                <key>textureRect</key>
                <string>{{2,1106},{555,761}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,761}</string>
                <key>spriteSourceSize</key>
                <string>{555,761}</string>
                <key>textureRect</key>
                <string>{{630,2},{555,761}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,31}</string>
                <key>spriteSize</key>
                <string>{131,129}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1599,1271},{131,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,34}</string>
                <key>spriteSize</key>
                <string>{151,127}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1535,916},{151,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{624,1100}</string>
                <key>spriteSourceSize</key>
                <string>{640,1100}</string>
                <key>textureRect</key>
                <string>{{2,2},{624,1100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,22}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{561,1167},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,21}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{561,1106},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_w_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-21}</string>
                <key>spriteSize</key>
                <string>{329,87}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1656,577},{329,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_w_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-38}</string>
                <key>spriteSize</key>
                <string>{335,117}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1535,577},{335,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_w_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-37}</string>
                <key>spriteSize</key>
                <string>{317,119}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1094,1788},{317,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{338,521}</string>
                <key>spriteSourceSize</key>
                <string>{380,543}</string>
                <key>textureRect</key>
                <string>{{1193,577},{338,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,78}</string>
                <key>spriteSourceSize</key>
                <string>{36,96}</string>
                <key>textureRect</key>
                <string>{{2,1871},{36,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-3}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{1094,1269},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{152,62}</string>
                <key>textureRect</key>
                <string>{{1094,1363},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{373,329}</string>
                <key>spriteSourceSize</key>
                <string>{389,341}</string>
                <key>textureRect</key>
                <string>{{1094,1455},{373,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_remote.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{196,114}</string>
                <key>spriteSourceSize</key>
                <string>{208,134}</string>
                <key>textureRect</key>
                <string>{{1599,1071},{196,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p3_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,571}</string>
                <key>spriteSourceSize</key>
                <string>{533,571}</string>
                <key>textureRect</key>
                <string>{{1189,2},{533,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{529,571}</string>
                <key>spriteSourceSize</key>
                <string>{533,571}</string>
                <key>textureRect</key>
                <string>{{561,1269},{529,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_tu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-115}</string>
                <key>spriteSize</key>
                <string>{339,284}</string>
                <key>spriteSourceSize</key>
                <string>{671,514}</string>
                <key>textureRect</key>
                <string>{{1471,1455},{339,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{559,498}</string>
                <key>spriteSourceSize</key>
                <string>{591,504}</string>
                <key>textureRect</key>
                <string>{{630,767},{559,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4_w_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,65}</string>
                <key>textureRect</key>
                <string>{{217,1871},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{276,1871},{34,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{20,45}</string>
                <key>spriteSourceSize</key>
                <string>{20,53}</string>
                <key>textureRect</key>
                <string>{{1667,1406},{20,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-182}</string>
                <key>spriteSize</key>
                <string>{402,349}</string>
                <key>spriteSourceSize</key>
                <string>{714,1165}</string>
                <key>textureRect</key>
                <string>{{1193,1102},{402,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,61}</string>
                <key>spriteSourceSize</key>
                <string>{36,61}</string>
                <key>textureRect</key>
                <string>{{152,1871},{36,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_w_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{36,66}</string>
                <key>textureRect</key>
                <string>{{84,1871},{36,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_w_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{1415,1788},{35,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{1599,1406},{35,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p7_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{22,52}</string>
                <key>spriteSourceSize</key>
                <string>{22,62}</string>
                <key>textureRect</key>
                <string>{{1094,1429},{22,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_4.png</string>
            <key>size</key>
            <string>{1757,1909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3412668bd4b1697b69cc3dbe3ff991a4:2042b4a456a20ba88a89a6dac32c885e:31021133e48e85962f91452f12f15d65$</string>
            <key>textureFileName</key>
            <string>main_4.png</string>
        </dict>
    </dict>
</plist>
