<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{2,2},{640,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,23}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1748,1939},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_w_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-21}</string>
                <key>spriteSize</key>
                <string>{261,85}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1481,1844},{261,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_w_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-21}</string>
                <key>spriteSize</key>
                <string>{169,85}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1764,1723},{169,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_w_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-37}</string>
                <key>spriteSize</key>
                <string>{347,53}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1934,2},{347,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_w_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-37}</string>
                <key>spriteSize</key>
                <string>{237,53}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1934,353},{237,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_w_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-21}</string>
                <key>spriteSize</key>
                <string>{293,85}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1038,1651},{293,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_w_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-38}</string>
                <key>spriteSize</key>
                <string>{279,117}</string>
                <key>spriteSourceSize</key>
                <string>{377,203}</string>
                <key>textureRect</key>
                <string>{{1481,1723},{279,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,567}</string>
                <key>spriteSourceSize</key>
                <string>{640,567}</string>
                <key>textureRect</key>
                <string>{{2,1406},{640,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1001}</string>
                <key>spriteSourceSize</key>
                <string>{640,1001}</string>
                <key>textureRect</key>
                <string>{{646,2},{640,1001}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{1941,1118},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{1934,594},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1_w_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,59}</string>
                <key>textureRect</key>
                <string>{{1941,1218},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1_w_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{1941,1169},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_floor.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,418}</string>
                <key>spriteSourceSize</key>
                <string>{640,418}</string>
                <key>textureRect</key>
                <string>{{1038,1007},{640,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p2_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{477,571}</string>
                <key>spriteSourceSize</key>
                <string>{483,575}</string>
                <key>textureRect</key>
                <string>{{1460,899},{477,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1290,899},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2_w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{1934,632},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,136}</string>
                <key>spriteSize</key>
                <string>{388,699}</string>
                <key>spriteSourceSize</key>
                <string>{640,971}</string>
                <key>textureRect</key>
                <string>{{646,1007},{388,699}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{640,893}</string>
                <key>spriteSourceSize</key>
                <string>{640,971}</string>
                <key>textureRect</key>
                <string>{{1290,2},{640,893}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_tu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,23}</string>
                <key>spriteSize</key>
                <string>{369,284}</string>
                <key>spriteSourceSize</key>
                <string>{671,514}</string>
                <key>textureRect</key>
                <string>{{646,1710},{369,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3_w_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{36,70}</string>
                <key>textureRect</key>
                <string>{{1349,967},{36,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p4_w_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{263,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,65}</string>
                <key>textureRect</key>
                <string>{{1481,1933},{263,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{18,45}</string>
                <key>spriteSourceSize</key>
                <string>{18,53}</string>
                <key>textureRect</key>
                <string>{{1019,1971},{18,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,463}</string>
                <key>spriteSize</key>
                <string>{458,227}</string>
                <key>spriteSourceSize</key>
                <string>{714,1165}</string>
                <key>textureRect</key>
                <string>{{1019,1740},{458,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,318}</string>
                <key>spriteSize</key>
                <string>{478,245}</string>
                <key>spriteSourceSize</key>
                <string>{714,1165}</string>
                <key>textureRect</key>
                <string>{{1460,1474},{478,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,64}</string>
                <key>textureRect</key>
                <string>{{1934,826},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{99,61}</string>
                <key>textureRect</key>
                <string>{{1335,1651},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{34,64}</string>
                <key>textureRect</key>
                <string>{{1941,1060},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,64}</string>
                <key>spriteSourceSize</key>
                <string>{37,66}</string>
                <key>textureRect</key>
                <string>{{1384,899},{37,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{38,66}</string>
                <key>textureRect</key>
                <string>{{1342,899},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,64}</string>
                <key>spriteSourceSize</key>
                <string>{37,66}</string>
                <key>textureRect</key>
                <string>{{1390,1651},{37,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_w_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,64}</string>
                <key>spriteSourceSize</key>
                <string>{37,66}</string>
                <key>textureRect</key>
                <string>{{1934,698},{37,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,64}</string>
                <key>textureRect</key>
                <string>{{1941,1002},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,58}</string>
                <key>textureRect</key>
                <string>{{1934,766},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,61}</string>
                <key>textureRect</key>
                <string>{{1390,1692},{35,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_w_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,61}</string>
                <key>textureRect</key>
                <string>{{1290,967},{36,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p5_w_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,61}</string>
                <key>textureRect</key>
                <string>{{1855,1939},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5_w_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{1941,1261},{38,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p7_w_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{178,55}</string>
                <key>spriteSourceSize</key>
                <string>{190,59}</string>
                <key>textureRect</key>
                <string>{{1764,1812},{178,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{1941,884},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{35,55}</string>
                <key>spriteSourceSize</key>
                <string>{35,59}</string>
                <key>textureRect</key>
                <string>{{1941,943},{35,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{1896,1939},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{1937,1939},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7_w_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{44,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{1807,1939},{44,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,64}</string>
                <key>spriteSourceSize</key>
                <string>{196,64}</string>
                <key>textureRect</key>
                <string>{{1748,1871},{196,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_1.png</string>
            <key>size</key>
            <string>{1989,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3412668bd4b1697b69cc3dbe3ff991a4:2042b4a456a20ba88a89a6dac32c885e:31021133e48e85962f91452f12f15d65$</string>
            <key>textureFileName</key>
            <string>main_1.png</string>
        </dict>
    </dict>
</plist>
