<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{310,-165}</string>
                <key>spriteSize</key>
                <string>{20,430}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,746},{20,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{264,-150}</string>
                <key>spriteSize</key>
                <string>{112,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1278,1758},{112,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{259,-150}</string>
                <key>spriteSize</key>
                <string>{122,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1278,1870},{122,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{220,-155}</string>
                <key>spriteSize</key>
                <string>{200,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{884,526},{200,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,-155}</string>
                <key>spriteSize</key>
                <string>{208,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{884,726},{208,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{305,-108}</string>
                <key>spriteSize</key>
                <string>{30,324}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{396,2018},{30,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,-154}</string>
                <key>spriteSize</key>
                <string>{208,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{430,494},{208,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-154}</string>
                <key>spriteSize</key>
                <string>{208,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{430,702},{208,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,-155}</string>
                <key>spriteSize</key>
                <string>{198,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1332,742},{198,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-158}</string>
                <key>spriteSize</key>
                <string>{186,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{836,1774},{186,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-155}</string>
                <key>spriteSize</key>
                <string>{190,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{874,1130},{190,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-155}</string>
                <key>spriteSize</key>
                <string>{190,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1318,1136},{190,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{300,-126}</string>
                <key>spriteSize</key>
                <string>{40,366}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{2006,0},{40,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,-152}</string>
                <key>spriteSize</key>
                <string>{196,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{876,934},{196,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,-152}</string>
                <key>spriteSize</key>
                <string>{196,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1322,940},{196,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-150}</string>
                <key>spriteSize</key>
                <string>{204,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{428,1100},{204,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-154}</string>
                <key>spriteSize</key>
                <string>{204,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{426,1304},{204,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-154}</string>
                <key>spriteSize</key>
                <string>{204,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{870,1320},{204,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-158}</string>
                <key>spriteSize</key>
                <string>{210,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1314,1326},{210,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{290,-134}</string>
                <key>spriteSize</key>
                <string>{60,396}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1984},{60,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{884,264},{262,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1332,480},{262,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1744,0},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1782,496},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1768,992},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1756,1400},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-177}</string>
                <key>spriteSize</key>
                <string>{264,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{434,0},{264,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-177}</string>
                <key>spriteSize</key>
                <string>{264,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{862,0},{264,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-154}</string>
                <key>spriteSize</key>
                <string>{230,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1290,0},{230,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-179,-173}</string>
                <key>spriteSize</key>
                <string>{262,434}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1292,230},{250,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1250},{250,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1500},{250,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-154}</string>
                <key>spriteSize</key>
                <string>{230,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{430,264},{230,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{426,1508},{250,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{852,1524},{250,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-189,-173}</string>
                <key>spriteSize</key>
                <string>{244,430}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,262},{244,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,-173}</string>
                <key>spriteSize</key>
                <string>{240,430}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,506},{240,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-173}</string>
                <key>spriteSize</key>
                <string>{222,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1278,1536},{222,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-225,-167}</string>
                <key>spriteSize</key>
                <string>{190,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{428,910},{190,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-167}</string>
                <key>spriteSize</key>
                <string>{242,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,766},{242,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-256,-170}</string>
                <key>spriteSize</key>
                <string>{128,420}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1750},{128,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-267,-170}</string>
                <key>spriteSize</key>
                <string>{106,398}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1878},{106,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-274,-122}</string>
                <key>spriteSize</key>
                <string>{92,294}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1724,1808},{92,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{836,1960},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1782,408},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1782,904},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1724,1900},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-167}</string>
                <key>spriteSize</key>
                <string>{242,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1008},{242,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-290,-165}</string>
                <key>spriteSize</key>
                <string>{60,164}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1724,1988},{60,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-302,-155}</string>
                <key>spriteSize</key>
                <string>{36,162}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1102,1960},{36,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-307,-148}</string>
                <key>spriteSize</key>
                <string>{26,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1718,230},{26,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-178}</string>
                <key>spriteSize</key>
                <string>{260,416}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{420,1758},{260,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_1_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa2f59ee2508f4541f9666771a8cab9:71bfe99d3e6a621b49579a11c2f0fc7d:6d84b3884ae778810b85ffd74a033c76$</string>
            <key>textureFileName</key>
            <string>female_1_1.png</string>
        </dict>
    </dict>
</plist>
