<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{952,1424},{286,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1426,1506},{286,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1694},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{472,1694},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{944,1710},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1076,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1076,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-153}</string>
                <key>spriteSize</key>
                <string>{506,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1528,1026},{506,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-151}</string>
                <key>spriteSize</key>
                <string>{510,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,940},{510,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-151}</string>
                <key>spriteSize</key>
                <string>{510,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{510,940},{510,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-151}</string>
                <key>spriteSize</key>
                <string>{508,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1020,940},{508,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-109}</string>
                <key>spriteSize</key>
                <string>{408,538}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1614,0},{408,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-148}</string>
                <key>spriteSize</key>
                <string>{390,488}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1614,538},{390,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1424},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{476,1424},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1416,1792},{158,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_3.png</string>
            <key>size</key>
            <string>{2034,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_3.png</string>
        </dict>
    </dict>
</plist>
