<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1094,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-153}</string>
                <key>spriteSize</key>
                <string>{504,480}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1540,1016},{504,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-151}</string>
                <key>spriteSize</key>
                <string>{500,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1560,516},{500,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-151}</string>
                <key>spriteSize</key>
                <string>{510,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{520,882},{510,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-151}</string>
                <key>spriteSize</key>
                <string>{510,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1030,934},{510,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-159}</string>
                <key>spriteSize</key>
                <string>{520,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,416},{520,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-159}</string>
                <key>spriteSize</key>
                <string>{520,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{520,418},{520,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-159}</string>
                <key>spriteSize</key>
                <string>{520,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1040,470},{520,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-159}</string>
                <key>spriteSize</key>
                <string>{520,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,880},{520,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-114}</string>
                <key>spriteSize</key>
                <string>{418,542}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{552,0},{418,542}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-105}</string>
                <key>spriteSize</key>
                <string>{416,552}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{416,552}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-131}</string>
                <key>spriteSize</key>
                <string>{416,516}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1632,0},{416,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-147}</string>
                <key>spriteSize</key>
                <string>{296,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1344},{296,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-147}</string>
                <key>spriteSize</key>
                <string>{296,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{476,1366},{296,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{952,1418},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1428,1496},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1640},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{476,1662},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{952,1688},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1428,1766},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_2.png</string>
            <key>size</key>
            <string>{2048,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_2.png</string>
        </dict>
    </dict>
</plist>
