<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1072,776},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1544,870},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1526,1156},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1058,1392},{286,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1502,1442},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1502,1728},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-155}</string>
                <key>spriteSize</key>
                <string>{520,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1410},{520,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-159}</string>
                <key>spriteSize</key>
                <string>{520,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,1392},{520,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-159}</string>
                <key>spriteSize</key>
                <string>{522,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1076,0},{522,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-159}</string>
                <key>spriteSize</key>
                <string>{522,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,928},{522,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-160}</string>
                <key>spriteSize</key>
                <string>{534,458}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,470},{534,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-113}</string>
                <key>spriteSize</key>
                <string>{424,546}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1598,0},{424,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1558,546},{324,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1060,1062},{324,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-153}</string>
                <key>spriteSize</key>
                <string>{312,482}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1076,464},{312,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,940},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{520,1856},{158,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1344,1386},{158,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_1.png</string>
            <key>size</key>
            <string>{2024,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_1.png</string>
        </dict>
    </dict>
</plist>
