<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{256,-154}</string>
                <key>spriteSize</key>
                <string>{128,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1704,1436},{128,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{246,-158}</string>
                <key>spriteSize</key>
                <string>{148,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1020,1072},{148,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,-158}</string>
                <key>spriteSize</key>
                <string>{158,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1668,994},{158,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{231,-157}</string>
                <key>spriteSize</key>
                <string>{178,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1340,262},{178,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-158}</string>
                <key>spriteSize</key>
                <string>{210,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1790,0},{210,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-154}</string>
                <key>spriteSize</key>
                <string>{208,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{266,864},{208,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-155}</string>
                <key>spriteSize</key>
                <string>{204,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{268,438},{204,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-155}</string>
                <key>spriteSize</key>
                <string>{204,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{724,438},{204,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1174,884},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-155}</string>
                <key>spriteSize</key>
                <string>{70,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1182,1928},{70,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-155}</string>
                <key>spriteSize</key>
                <string>{80,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1832,1436},{80,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-154}</string>
                <key>spriteSize</key>
                <string>{208,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{720,864},{208,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-154}</string>
                <key>spriteSize</key>
                <string>{222,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{266,642},{222,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-154}</string>
                <key>spriteSize</key>
                <string>{222,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{722,642},{222,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-154}</string>
                <key>spriteSize</key>
                <string>{222,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1180,440},{222,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1764},{262,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{262,1500},{262,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{670,1498},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-183}</string>
                <key>spriteSize</key>
                <string>{262,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1442,1512},{262,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-154}</string>
                <key>spriteSize</key>
                <string>{222,456}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1178,662},{222,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-171}</string>
                <key>spriteSize</key>
                <string>{268,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{268,0},{268,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-171}</string>
                <key>spriteSize</key>
                <string>{268,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{536,0},{268,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,-171}</string>
                <key>spriteSize</key>
                <string>{268,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{804,0},{268,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-171}</string>
                <key>spriteSize</key>
                <string>{268,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1072,0},{268,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-168}</string>
                <key>spriteSize</key>
                <string>{268,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{268,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,-168}</string>
                <key>spriteSize</key>
                <string>{266,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,444},{266,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-164,-170}</string>
                <key>spriteSize</key>
                <string>{262,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,888},{262,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-170}</string>
                <key>spriteSize</key>
                <string>{262,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1340,0},{262,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-168,-173}</string>
                <key>spriteSize</key>
                <string>{262,434}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1330},{262,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{520,1072},{250,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{770,1072},{250,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1168,1086},{250,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1418,1086},{250,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-194,-181}</string>
                <key>spriteSize</key>
                <string>{250,426}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{932,1514},{250,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-216,-173}</string>
                <key>spriteSize</key>
                <string>{208,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1780,442},{208,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-242,-172}</string>
                <key>spriteSize</key>
                <string>{156,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1826,994},{156,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248,-170}</string>
                <key>spriteSize</key>
                <string>{144,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1636,440},{144,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-263,-108}</string>
                <key>spriteSize</key>
                <string>{114,296}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1704,880},{114,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1912,1436},{88,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1912,1702},{88,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{490,1906},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1626,1920},{88,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-279,-135}</string>
                <key>spriteSize</key>
                <string>{82,254}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{408,1762},{82,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-173}</string>
                <key>spriteSize</key>
                <string>{258,428}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{262,1072},{258,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-315,-143}</string>
                <key>spriteSize</key>
                <string>{10,106}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{408,2016},{10,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-178}</string>
                <key>spriteSize</key>
                <string>{260,416}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1182,1512},{260,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_1_0.png</string>
            <key>size</key>
            <string>{2000,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa2f59ee2508f4541f9666771a8cab9:71bfe99d3e6a621b49579a11c2f0fc7d:6d84b3884ae778810b85ffd74a033c76$</string>
            <key>textureFileName</key>
            <string>female_1_0.png</string>
        </dict>
    </dict>
</plist>
