<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_4_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,618},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,618},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1280,618},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1236},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,1236},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-195}</string>
                <key>spriteSize</key>
                <string>{640,618}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1280,1236},{640,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_2_0.png</string>
            <key>size</key>
            <string>{1920,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec26989f157aeaea8f8e1f6ad35fe58:9ad27a72c4f63db0842fca807d11e1bc:644efa0368ff39d4b4a7daaafd24192f$</string>
            <key>textureFileName</key>
            <string>male_2_0.png</string>
        </dict>
    </dict>
</plist>
