<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-132}</string>
                <key>spriteSize</key>
                <string>{198,622}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,97},{198,622}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-132}</string>
                <key>spriteSize</key>
                <string>{198,622}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,97},{198,622}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{629,541},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-129}</string>
                <key>spriteSize</key>
                <string>{418,628}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,1061},{418,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-129}</string>
                <key>spriteSize</key>
                <string>{424,628}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{631,1065},{424,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-129}</string>
                <key>spriteSize</key>
                <string>{424,628}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1261,1073},{424,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-126}</string>
                <key>spriteSize</key>
                <string>{280,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1281,791},{280,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-126}</string>
                <key>spriteSize</key>
                <string>{280,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1281,791},{280,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-117}</string>
                <key>spriteSize</key>
                <string>{238,652}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1267,551},{238,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-117}</string>
                <key>spriteSize</key>
                <string>{238,652}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1267,551},{238,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-129}</string>
                <key>spriteSize</key>
                <string>{198,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{625,117},{198,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-136}</string>
                <key>spriteSize</key>
                <string>{220,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,317},{220,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-136}</string>
                <key>spriteSize</key>
                <string>{220,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1271,329},{220,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-154,-134}</string>
                <key>spriteSize</key>
                <string>{272,638}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,787},{272,638}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-134}</string>
                <key>spriteSize</key>
                <string>{272,638}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{641,791},{272,638}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-195,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,539},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-209,-140}</string>
                <key>spriteSize</key>
                <string>{222,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{643,317},{222,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-263,-146}</string>
                <key>spriteSize</key>
                <string>{114,612}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1213,1},{114,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-148}</string>
                <key>spriteSize</key>
                <string>{94,608}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{603,1},{94,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-281,-152}</string>
                <key>spriteSize</key>
                <string>{78,600}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1275,117},{210,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_1_1.png</string>
            <key>size</key>
            <string>{1926,1498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b091e10b2dc81faf83bf72042ae1996:0190be7a47a9b691744f90e5a644f21f:694aa288066bfb0aa2655f700bc0fe49$</string>
            <key>textureFileName</key>
            <string>male_1_1.png</string>
        </dict>
    </dict>
</plist>
