<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_4_118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-237}</string>
                <key>spriteSize</key>
                <string>{596,534}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,744},{596,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-237}</string>
                <key>spriteSize</key>
                <string>{596,534}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{596,744},{596,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-237}</string>
                <key>spriteSize</key>
                <string>{596,534}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1192,744},{596,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-198}</string>
                <key>spriteSize</key>
                <string>{640,612}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1278},{640,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-198}</string>
                <key>spriteSize</key>
                <string>{640,612}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,1278},{640,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-198}</string>
                <key>spriteSize</key>
                <string>{640,612}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1280,1278},{640,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,-244}</string>
                <key>spriteSize</key>
                <string>{344,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{344,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-238}</string>
                <key>spriteSize</key>
                <string>{346,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{520,0},{346,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-238}</string>
                <key>spriteSize</key>
                <string>{346,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1052,0},{346,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-238}</string>
                <key>spriteSize</key>
                <string>{346,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1584,0},{346,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-243}</string>
                <key>spriteSize</key>
                <string>{398,522}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,346},{398,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-243}</string>
                <key>spriteSize</key>
                <string>{398,522}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{522,346},{398,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-243}</string>
                <key>spriteSize</key>
                <string>{398,522}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1044,346},{398,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_2_8.png</string>
            <key>size</key>
            <string>{1930,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec26989f157aeaea8f8e1f6ad35fe58:9ad27a72c4f63db0842fca807d11e1bc:644efa0368ff39d4b4a7daaafd24192f$</string>
            <key>textureFileName</key>
            <string>male_2_8.png</string>
        </dict>
    </dict>
</plist>
