<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_4_130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-238}</string>
                <key>spriteSize</key>
                <string>{594,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,520},{594,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-238}</string>
                <key>spriteSize</key>
                <string>{594,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1280,0},{594,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-237}</string>
                <key>spriteSize</key>
                <string>{594,534}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1096},{594,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-244}</string>
                <key>spriteSize</key>
                <string>{640,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,576},{640,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-244}</string>
                <key>spriteSize</key>
                <string>{640,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-216}</string>
                <key>spriteSize</key>
                <string>{640,576}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_4_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,-244}</string>
                <key>spriteSize</key>
                <string>{418,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1234,532},{418,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-244}</string>
                <key>spriteSize</key>
                <string>{346,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1630},{346,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,-244}</string>
                <key>spriteSize</key>
                <string>{346,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1652,532},{346,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-239}</string>
                <key>spriteSize</key>
                <string>{398,530}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{594,1096},{398,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-239}</string>
                <key>spriteSize</key>
                <string>{398,530}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{992,1052},{398,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,-239}</string>
                <key>spriteSize</key>
                <string>{398,530}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1390,1052},{398,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_5_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-258}</string>
                <key>spriteSize</key>
                <string>{392,492}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{992,1582},{392,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_5_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-258}</string>
                <key>spriteSize</key>
                <string>{392,492}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1484,1582},{392,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_2_13.png</string>
            <key>size</key>
            <string>{1998,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec26989f157aeaea8f8e1f6ad35fe58:9ad27a72c4f63db0842fca807d11e1bc:644efa0368ff39d4b4a7daaafd24192f$</string>
            <key>textureFileName</key>
            <string>male_2_13.png</string>
        </dict>
    </dict>
</plist>
