<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,198}</string>
                <key>spriteSourceSize</key>
                <string>{199,198}</string>
                <key>textureRect</key>
                <string>{{101,1},{199,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,200}</string>
                <key>spriteSourceSize</key>
                <string>{198,200}</string>
                <key>textureRect</key>
                <string>{{302,1},{198,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,285}</string>
                <key>spriteSize</key>
                <string>{404,342}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,201},{404,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,289}</string>
                <key>spriteSize</key>
                <string>{404,348}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,545},{404,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,301}</string>
                <key>spriteSize</key>
                <string>{404,374}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1623},{404,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,296}</string>
                <key>spriteSize</key>
                <string>{404,364}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1257},{404,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,295}</string>
                <key>spriteSize</key>
                <string>{502,360}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,895},{502,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme.png</string>
            <key>size</key>
            <string>{504,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd2533a5fe3b8ea35a347c29eac09e3:65143c605fd21c38ba7d528bfd67c5c6:e5eaa017115b64f73210fbf8b8ba10ea$</string>
            <key>textureFileName</key>
            <string>theme.png</string>
        </dict>
    </dict>
</plist>
