<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,114}</string>
                <key>spriteSourceSize</key>
                <string>{307,114}</string>
                <key>textureRect</key>
                <string>{{177,131},{307,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,114}</string>
                <key>spriteSourceSize</key>
                <string>{307,114}</string>
                <key>textureRect</key>
                <string>{{303,1},{307,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{795,185},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_music_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{869,185},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{795,104},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{874,104},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,128}</string>
                <key>textureRect</key>
                <string>{{177,1},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,114}</string>
                <key>spriteSourceSize</key>
                <string>{307,114}</string>
                <key>textureRect</key>
                <string>{{486,117},{307,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,86}</string>
                <key>spriteSourceSize</key>
                <string>{245,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{245,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{612,1},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,86}</string>
                <key>spriteSourceSize</key>
                <string>{245,86}</string>
                <key>textureRect</key>
                <string>{{89,1},{245,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,101}</string>
                <key>spriteSourceSize</key>
                <string>{277,101}</string>
                <key>textureRect</key>
                <string>{{713,1},{277,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,37}</string>
                <key>spriteSourceSize</key>
                <string>{77,37}</string>
                <key>textureRect</key>
                <string>{{953,104},{77,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{991,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f006999dc6399cbef7553492717ba70b:0d31431d5ce73e3597cbce63c59219f8:21888b5a08ea8ad38b3bfcc0abc07d4d$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
