<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,108}</string>
                <key>spriteSourceSize</key>
                <string>{183,108}</string>
                <key>textureRect</key>
                <string>{{205,1669},{183,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,90}</string>
                <key>spriteSourceSize</key>
                <string>{202,90}</string>
                <key>textureRect</key>
                <string>{{1,1669},{202,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,90}</string>
                <key>spriteSourceSize</key>
                <string>{202,90}</string>
                <key>textureRect</key>
                <string>{{1466,1564},{202,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,237}</string>
                <key>spriteSourceSize</key>
                <string>{205,241}</string>
                <key>textureRect</key>
                <string>{{1227,1564},{205,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_fly_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{209,247}</string>
                <key>spriteSourceSize</key>
                <string>{211,249}</string>
                <key>textureRect</key>
                <string>{{1309,1353},{209,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,138}</string>
                <key>spriteSourceSize</key>
                <string>{106,138}</string>
                <key>textureRect</key>
                <string>{{390,1669},{106,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{513,111}</string>
                <key>spriteSourceSize</key>
                <string>{515,113}</string>
                <key>textureRect</key>
                <string>{{1,1556},{513,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{534,244}</string>
                <key>spriteSourceSize</key>
                <string>{536,244}</string>
                <key>textureRect</key>
                <string>{{1,1310},{534,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{670,233}</string>
                <key>spriteSourceSize</key>
                <string>{672,235}</string>
                <key>textureRect</key>
                <string>{{1403,1},{670,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{564,331}</string>
                <key>spriteSourceSize</key>
                <string>{568,331}</string>
                <key>textureRect</key>
                <string>{{1,977},{564,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{565,332}</string>
                <key>spriteSourceSize</key>
                <string>{567,334}</string>
                <key>textureRect</key>
                <string>{{1,643},{565,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,330}</string>
                <key>spriteSourceSize</key>
                <string>{565,330}</string>
                <key>textureRect</key>
                <string>{{568,643},{565,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{238,331}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{1397,673},{238,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{238,329}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{896,1532},{238,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{238,329}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{1316,1022},{238,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{260,377}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{1135,643},{260,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{260,381}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{567,1237},{260,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{260,385}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{568,975},{260,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{252,359}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{955,1022},{252,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{254,357}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{950,1276},{254,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{256,357}</string>
                <key>spriteSourceSize</key>
                <string>{300,405}</string>
                <key>textureRect</key>
                <string>{{537,1499},{256,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1637,1778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82ac3799abd46e7ef8ca29d37e3515f:808d0b60497f7835da34860ddbfe0710:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
