<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{966,606}</string>
                <key>spriteSourceSize</key>
                <string>{970,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{966,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{966,606}</string>
                <key>spriteSourceSize</key>
                <string>{970,614}</string>
                <key>textureRect</key>
                <string>{{1,609},{966,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{966,606}</string>
                <key>spriteSourceSize</key>
                <string>{970,614}</string>
                <key>textureRect</key>
                <string>{{969,1},{966,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{966,606}</string>
                <key>spriteSourceSize</key>
                <string>{970,614}</string>
                <key>textureRect</key>
                <string>{{1,1217},{966,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{966,606}</string>
                <key>spriteSourceSize</key>
                <string>{970,614}</string>
                <key>textureRect</key>
                <string>{{969,609},{966,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_score_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{969,1788},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_score_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{1387,1759},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_xyy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,530}</string>
                <key>spriteSourceSize</key>
                <string>{516,530}</string>
                <key>textureRect</key>
                <string>{{969,1217},{516,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_zyy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{481,540}</string>
                <key>spriteSourceSize</key>
                <string>{495,552}</string>
                <key>textureRect</key>
                <string>{{1487,1217},{481,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,105}</string>
                <key>spriteSourceSize</key>
                <string>{359,127}</string>
                <key>textureRect</key>
                <string>{{1937,1},{359,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{363,104}</string>
                <key>spriteSourceSize</key>
                <string>{371,104}</string>
                <key>textureRect</key>
                <string>{{1937,362},{363,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{361,103}</string>
                <key>spriteSourceSize</key>
                <string>{367,103}</string>
                <key>textureRect</key>
                <string>{{1937,727},{361,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{416,37}</string>
                <key>spriteSourceSize</key>
                <string>{454,53}</string>
                <key>textureRect</key>
                <string>{{969,1749},{416,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{400,37}</string>
                <key>spriteSourceSize</key>
                <string>{454,53}</string>
                <key>textureRect</key>
                <string>{{1372,1807},{400,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{377,37}</string>
                <key>spriteSourceSize</key>
                <string>{383,53}</string>
                <key>textureRect</key>
                <string>{{1970,1090},{377,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{2043,1845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca4d117ca5fee6b5b81e7b5d5391aeaa:402a3969ee4fe843b8daea719dfe3008:e1668820d8dd34f83f4fbdb95fc6a44a$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
