<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{841,880},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1672,727},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{1662,857},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{596,418}</string>
                <key>spriteSourceSize</key>
                <string>{640,418}</string>
                <key>textureRect</key>
                <string>{{1270,1},{596,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,404}</string>
                <key>spriteSourceSize</key>
                <string>{640,404}</string>
                <key>textureRect</key>
                <string>{{630,1},{638,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{568,54}</string>
                <key>spriteSourceSize</key>
                <string>{640,54}</string>
                <key>textureRect</key>
                <string>{{1102,727},{568,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{632,324}</string>
                <key>spriteSourceSize</key>
                <string>{640,324}</string>
                <key>textureRect</key>
                <string>{{1,630},{632,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beard_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,87}</string>
                <key>spriteSourceSize</key>
                <string>{282,87}</string>
                <key>textureRect</key>
                <string>{{1868,1},{282,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beard_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,87}</string>
                <key>spriteSourceSize</key>
                <string>{282,87}</string>
                <key>textureRect</key>
                <string>{{1868,285},{282,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{1810,421},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{6,280}</string>
                <key>spriteSourceSize</key>
                <string>{46,280}</string>
                <key>textureRect</key>
                <string>{{635,872},{6,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{62,42}</string>
                <key>textureRect</key>
                <string>{{1426,912},{62,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,184}</string>
                <key>spriteSourceSize</key>
                <string>{175,184}</string>
                <key>textureRect</key>
                <string>{{1744,569},{175,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1662,792},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1737,746},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1802,746},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,190}</string>
                <key>spriteSourceSize</key>
                <string>{640,190}</string>
                <key>textureRect</key>
                <string>{{1102,421},{640,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1867,746},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{1744,421},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1727,811},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,90}</string>
                <key>spriteSourceSize</key>
                <string>{113,90}</string>
                <key>textureRect</key>
                <string>{{1570,783},{113,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{1930,569},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,463}</string>
                <key>spriteSourceSize</key>
                <string>{465,463}</string>
                <key>textureRect</key>
                <string>{{635,407},{465,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1792,811},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{775,880},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1857,811},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocker_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,138}</string>
                <key>spriteSourceSize</key>
                <string>{71,138}</string>
                <key>textureRect</key>
                <string>{{635,880},{71,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rocker_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{52,29}</string>
                <key>textureRect</key>
                <string>{{1490,912},{52,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,627}</string>
                <key>spriteSourceSize</key>
                <string>{627,627}</string>
                <key>textureRect</key>
                <string>{{1,1},{627,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rows.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,112}</string>
                <key>textureRect</key>
                <string>{{1102,613},{640,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1102,783},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1264,783},{160,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{142,127}</string>
                <key>spriteSourceSize</key>
                <string>{142,129}</string>
                <key>textureRect</key>
                <string>{{1426,783},{142,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{1778,551},{16,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{1744,551},{16,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{1744,486},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1727,876},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1792,876},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1956,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b506ed014f7ded2880e6b7ab4285d8:5b9ce1f5d37e8f46c42f7272a86b1fd2:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
