<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>germ_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{1045,871},{62,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>germ_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,59}</string>
                <key>spriteSourceSize</key>
                <string>{74,59}</string>
                <key>textureRect</key>
                <string>{{1198,938},{72,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>germ_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{1254,714},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>germ_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{1198,871},{73,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{1045,935},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{1122,871},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>protect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{366,359}</string>
                <key>spriteSourceSize</key>
                <string>{384,363}</string>
                <key>textureRect</key>
                <string>{{1,643},{366,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{235,163}</string>
                <key>spriteSourceSize</key>
                <string>{235,169}</string>
                <key>textureRect</key>
                <string>{{855,643},{235,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{160,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,226}</string>
                <key>textureRect</key>
                <string>{{821,808},{160,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,226}</string>
                <key>textureRect</key>
                <string>{{1092,643},{160,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,224}</string>
                <key>spriteSourceSize</key>
                <string>{160,226}</string>
                <key>textureRect</key>
                <string>{{369,805},{160,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,246}</string>
                <key>spriteSourceSize</key>
                <string>{160,246}</string>
                <key>textureRect</key>
                <string>{{369,643},{160,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{160,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,246}</string>
                <key>textureRect</key>
                <string>{{617,643},{160,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,224}</string>
                <key>spriteSourceSize</key>
                <string>{160,246}</string>
                <key>textureRect</key>
                <string>{{595,805},{160,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{1254,643},{69,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{1121,941},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,46}</string>
                <key>spriteSourceSize</key>
                <string>{63,46}</string>
                <key>textureRect</key>
                <string>{{1272,938},{63,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1402,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb2879abcf367f052192074f62ce196e:8258fc09843443d38299f59aed0cacc0:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
