<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_drop_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1757,1},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1461,597},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1729,1146},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{274,549}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1481,1},{274,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1733,552},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1757,1},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1461,597},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1729,1146},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1733,552},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1757,1},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1461,597},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1457,1156},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,1705},{270,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_drop_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1729,1146},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_drop_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{270,547}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1733,552},{270,547}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,597},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,597},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1185,597},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{297,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{297,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{297,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{889,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{297,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{889,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1185,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{244,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{244,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{889,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{593,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{297,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_1.png</string>
            <key>size</key>
            <string>{2028,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d53a5f08da15c058012aeb9042de2a6:bea324a85b31e895d8b522f385484944:4eea3852939a61dd04f3893e55063159$</string>
            <key>textureFileName</key>
            <string>male_1.png</string>
        </dict>
    </dict>
</plist>
