<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dance_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,542}</string>
                <key>spriteSourceSize</key>
                <string>{378,542}</string>
                <key>textureRect</key>
                <string>{{1217,543},{378,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,540}</string>
                <key>spriteSourceSize</key>
                <string>{388,540}</string>
                <key>textureRect</key>
                <string>{{1105,1123},{388,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,540}</string>
                <key>spriteSourceSize</key>
                <string>{384,540}</string>
                <key>textureRect</key>
                <string>{{865,1},{384,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,540}</string>
                <key>spriteSourceSize</key>
                <string>{374,540}</string>
                <key>textureRect</key>
                <string>{{1251,1},{374,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,540}</string>
                <key>spriteSourceSize</key>
                <string>{374,540}</string>
                <key>textureRect</key>
                <string>{{1597,543},{374,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,544}</string>
                <key>spriteSourceSize</key>
                <string>{392,544}</string>
                <key>textureRect</key>
                <string>{{1,1129},{392,544}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,556}</string>
                <key>spriteSourceSize</key>
                <string>{382,556}</string>
                <key>textureRect</key>
                <string>{{833,565},{382,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,556}</string>
                <key>spriteSourceSize</key>
                <string>{398,556}</string>
                <key>textureRect</key>
                <string>{{433,565},{398,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,556}</string>
                <key>spriteSourceSize</key>
                <string>{398,556}</string>
                <key>textureRect</key>
                <string>{{547,1123},{398,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{1,565},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{433,1},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{433,1},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{1,565},{430,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dance_1.png</string>
            <key>size</key>
            <string>{1972,1522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8ee3e3c24500c9b95c5d1a89280a7f:b27530f1c8314b8a9ef9dc3272adbea7:e0d5b2be58b37e4724beda2f4aaaee86$</string>
            <key>textureFileName</key>
            <string>dance_1.png</string>
        </dict>
    </dict>
</plist>
