<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dance_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,554}</string>
                <key>spriteSourceSize</key>
                <string>{418,554}</string>
                <key>textureRect</key>
                <string>{{557,433},{418,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,554}</string>
                <key>spriteSourceSize</key>
                <string>{424,554}</string>
                <key>textureRect</key>
                <string>{{1,433},{424,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,546}</string>
                <key>spriteSourceSize</key>
                <string>{378,546}</string>
                <key>textureRect</key>
                <string>{{1113,547},{378,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,540}</string>
                <key>spriteSourceSize</key>
                <string>{382,540}</string>
                <key>textureRect</key>
                <string>{{1113,1095},{382,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,542}</string>
                <key>spriteSourceSize</key>
                <string>{368,542}</string>
                <key>textureRect</key>
                <string>{{1,1261},{368,542}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,544}</string>
                <key>spriteSourceSize</key>
                <string>{368,544}</string>
                <key>textureRect</key>
                <string>{{1129,1},{368,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dance_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,552}</string>
                <key>spriteSourceSize</key>
                <string>{400,552}</string>
                <key>textureRect</key>
                <string>{{1,859},{400,552}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dance_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,554}</string>
                <key>spriteSourceSize</key>
                <string>{412,554}</string>
                <key>textureRect</key>
                <string>{{557,853},{412,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,562}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{565,1},{430,562}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,562}</string>
                <key>spriteSourceSize</key>
                <string>{430,562}</string>
                <key>textureRect</key>
                <string>{{565,1},{430,562}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dance_2.png</string>
            <key>size</key>
            <string>{1498,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8ee3e3c24500c9b95c5d1a89280a7f:b27530f1c8314b8a9ef9dc3272adbea7:e0d5b2be58b37e4724beda2f4aaaee86$</string>
            <key>textureFileName</key>
            <string>dance_2.png</string>
        </dict>
    </dict>
</plist>
