<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{276,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,597},{276,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,1151},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,1151},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,1151},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,1151},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1427},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1427},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1427},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1703},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1703},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1703},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1483,1703},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1489,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1765,1},{274,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_flowing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_flowing_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{274,557}</string>
                <key>spriteSourceSize</key>
                <string>{286,557}</string>
                <key>textureRect</key>
                <string>{{1485,875},{274,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{298,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,597},{298,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{298,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,597},{298,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{296,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1193},{296,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{296,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1193},{296,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{299,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{301,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{595,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{305,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{891,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{601,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{893,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1187,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{897,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{299,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1189,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1193,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1187,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1193,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{305,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_drop_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{893,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1189,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{595,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{601,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{299,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{301,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{595,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{305,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,597},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{891,1193},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{302,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{294,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{601,1},{294,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{302,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{302,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_drop_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{298,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,597},{298,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meal_flowing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{1,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meal_flowing_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{250,594}</string>
                <key>spriteSourceSize</key>
                <string>{318,594}</string>
                <key>textureRect</key>
                <string>{{597,1789},{250,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_0.png</string>
            <key>size</key>
            <string>{2043,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d53a5f08da15c058012aeb9042de2a6:bea324a85b31e895d8b522f385484944:4eea3852939a61dd04f3893e55063159$</string>
            <key>textureFileName</key>
            <string>male_0.png</string>
        </dict>
    </dict>
</plist>
