<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{132,60}</string>
                <key>spriteSourceSize</key>
                <string>{132,78}</string>
                <key>textureRect</key>
                <string>{{1927,1},{132,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>add_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,78}</string>
                <key>spriteSourceSize</key>
                <string>{143,78}</string>
                <key>textureRect</key>
                <string>{{1821,1297},{143,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,228}</string>
                <key>spriteSourceSize</key>
                <string>{640,228}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{1692,1526},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,97}</string>
                <key>spriteSourceSize</key>
                <string>{102,97}</string>
                <key>textureRect</key>
                <string>{{1821,1377},{102,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,97}</string>
                <key>spriteSourceSize</key>
                <string>{102,97}</string>
                <key>textureRect</key>
                <string>{{1692,1427},{102,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,62}</string>
                <key>spriteSourceSize</key>
                <string>{640,62}</string>
                <key>textureRect</key>
                <string>{{1285,185},{640,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,183}</string>
                <key>spriteSourceSize</key>
                <string>{640,183}</string>
                <key>textureRect</key>
                <string>{{643,231},{640,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,182}</string>
                <key>spriteSourceSize</key>
                <string>{640,182}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,365}</string>
                <key>spriteSourceSize</key>
                <string>{640,365}</string>
                <key>textureRect</key>
                <string>{{1,1139},{640,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{1285,249},{40,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hp_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,29}</string>
                <key>spriteSourceSize</key>
                <string>{40,29}</string>
                <key>textureRect</key>
                <string>{{1925,1377},{40,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{1557,1339},{132,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{1687,1297},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{1927,135},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_forbid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1692,1673},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{1692,1625},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,7}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1927,183},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{98,95}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1557,1242},{98,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{356,331}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{643,1155},{356,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{356,333}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{643,797},{356,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{252,251}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1303,1242},{252,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{312,311}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{362,1513},{312,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{354,379}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{643,416},{354,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{302,329}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1033,1512},{302,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{310,355}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{676,1513},{310,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{312,357}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1681,249},{312,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{314,359}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1679,608},{314,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{318,359}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1,1506},{318,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{320,363}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{978,797},{320,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{322,365}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{999,416},{322,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,15}</string>
                <key>spriteSize</key>
                <string>{326,333}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1657,969},{326,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{326,319}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1364,1495},{326,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{348,325}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{976,1162},{348,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_b_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{352,327}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1303,913},{352,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{354,329}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1323,582},{354,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_b_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{356,331}</string>
                <key>spriteSourceSize</key>
                <string>{356,631}</string>
                <key>textureRect</key>
                <string>{{1323,249},{356,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1994,1825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c60513e1053e7645a73ba84be75e30:192bf0cf36cab314ecb21a644cee4b8c:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
