<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{152,167}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{349,1136},{152,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{178,169}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1245,645},{178,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{208,239}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1020,1},{208,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{210,239}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1261,1},{210,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{212,239}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1502,1},{212,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-37}</string>
                <key>spriteSize</key>
                <string>{214,217}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{185,694},{214,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-30}</string>
                <key>spriteSize</key>
                <string>{214,209}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1101,434},{214,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-32}</string>
                <key>spriteSize</key>
                <string>{216,209}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{883,411},{216,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-34}</string>
                <key>spriteSize</key>
                <string>{218,211}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{663,399},{218,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-35}</string>
                <key>spriteSize</key>
                <string>{220,213}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{441,397},{220,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-36}</string>
                <key>spriteSize</key>
                <string>{222,215}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1743,1},{222,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{224,221}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{191,471},{224,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{178,169}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{936,811},{178,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-31}</string>
                <key>spriteSize</key>
                <string>{224,215}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{209,910},{224,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-31}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{213,252},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{228,219}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1642,218},{228,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{230,219}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1178,213},{230,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{230,221}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1410,215},{230,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{152,173}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{809,1130},{152,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{152,171}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1621,1127},{152,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,19}</string>
                <key>spriteSize</key>
                <string>{186,289}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{465,1},{186,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{210,307}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-42}</string>
                <key>spriteSize</key>
                <string>{250,249}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{213,1},{250,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-45}</string>
                <key>spriteSize</key>
                <string>{198,235}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{941,211},{198,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{704,193},{204,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-46}</string>
                <key>spriteSize</key>
                <string>{206,237}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{1,910},{206,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{206,237}</string>
                <key>spriteSourceSize</key>
                <string>{278,333}</string>
                <key>textureRect</key>
                <string>{{465,189},{206,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-134}</string>
                <key>spriteSize</key>
                <string>{176,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{584,784},{176,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-80}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-85}</string>
                <key>spriteSize</key>
                <string>{182,132}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{503,1118},{182,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-60}</string>
                <key>spriteSize</key>
                <string>{174,146}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{936,982},{174,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-58}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1815,819},{170,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-58}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1815,819},{170,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-127}</string>
                <key>spriteSize</key>
                <string>{178,124}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{404,784},{178,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-134}</string>
                <key>spriteSize</key>
                <string>{176,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{584,784},{176,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-134}</string>
                <key>spriteSize</key>
                <string>{176,122}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{584,784},{176,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-48}</string>
                <key>spriteSize</key>
                <string>{166,176}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1116,816},{166,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-37}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1741,439},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-40}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1621,805},{164,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-40}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{770,794},{164,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-40}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{770,794},{164,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-39}</string>
                <key>spriteSize</key>
                <string>{164,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1623,639},{164,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-37}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1741,439},{172,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{182,290}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,618},{182,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{182,290}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,618},{182,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{164,174}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1119,984},{164,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mei_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-38}</string>
                <key>spriteSize</key>
                <string>{164,196}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1047,645},{164,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-39}</string>
                <key>spriteSize</key>
                <string>{164,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1425,803},{164,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-39}</string>
                <key>spriteSize</key>
                <string>{164,194}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1425,803},{164,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mei_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-40}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1621,805},{164,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-46}</string>
                <key>spriteSize</key>
                <string>{152,158}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1795,991},{152,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{637,1114},{180,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,1149},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,1149},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{175,1149},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{175,1149},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{963,1130},{154,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{180,170}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{637,1114},{180,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{190,262}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{756,1},{190,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{190,262}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{756,1},{190,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1447,969},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1621,971},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1621,971},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1447,1125},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mouse_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-39}</string>
                <key>spriteSize</key>
                <string>{154,172}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1447,1125},{154,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wolf_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{306,222}</string>
                <key>textureRect</key>
                <string>{{1285,984},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{306,222}</string>
                <key>textureRect</key>
                <string>{{1819,639},{146,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wolf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,2}</string>
                <key>spriteSize</key>
                <string>{204,186}</string>
                <key>spriteSourceSize</key>
                <string>{306,222}</string>
                <key>textureRect</key>
                <string>{{1535,439},{204,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-55}</string>
                <key>spriteSize</key>
                <string>{174,196}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1425,627},{174,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-45}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1317,438},{180,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-51}</string>
                <key>spriteSize</key>
                <string>{170,204}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{598,908},{170,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-51}</string>
                <key>spriteSize</key>
                <string>{170,204}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{598,908},{170,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-50}</string>
                <key>spriteSize</key>
                <string>{170,206}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{839,622},{170,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-50}</string>
                <key>spriteSize</key>
                <string>{170,206}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{839,622},{170,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-45}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1317,438},{180,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{188,306}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,310},{188,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{188,306}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{1,310},{188,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-48}</string>
                <key>spriteSize</key>
                <string>{170,210}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{417,612},{170,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-49}</string>
                <key>spriteSize</key>
                <string>{170,208}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{629,612},{170,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-49}</string>
                <key>spriteSize</key>
                <string>{170,208}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{629,612},{170,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-50}</string>
                <key>spriteSize</key>
                <string>{170,206}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{426,910},{170,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-50}</string>
                <key>spriteSize</key>
                <string>{170,206}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{426,910},{170,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{1966,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5dcf11abc01496c32936c996ae35d8:a534cb0767947b958d1c4f72649881bd:eee9ac4705ce2dddab0b9fdbb6e99b8f$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
