<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1590,381},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1590,508},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,185}</string>
                <key>spriteSourceSize</key>
                <string>{187,185}</string>
                <key>textureRect</key>
                <string>{{1403,381},{187,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,378}</string>
                <key>spriteSourceSize</key>
                <string>{498,378}</string>
                <key>textureRect</key>
                <string>{{1403,1},{498,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1902,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6913b70fb662aed1caf890e6244ac7da:ceddb1d62dd44395cd5ef955dd33d4d0:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
