<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{109,98}</string>
                <key>textureRect</key>
                <string>{{288,144},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>double_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{49,1},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>germ_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,106}</string>
                <key>spriteSourceSize</key>
                <string>{69,106}</string>
                <key>textureRect</key>
                <string>{{617,143},{69,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>germ_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{106,69}</string>
                <key>textureRect</key>
                <string>{{617,1},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>germ_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,69}</string>
                <key>spriteSourceSize</key>
                <string>{106,69}</string>
                <key>textureRect</key>
                <string>{{617,72},{106,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{109,98}</string>
                <key>textureRect</key>
                <string>{{474,144},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{109,98}</string>
                <key>textureRect</key>
                <string>{{381,144},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{191,1},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{333,1},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{101,98}</string>
                <key>spriteSourceSize</key>
                <string>{109,98}</string>
                <key>textureRect</key>
                <string>{{185,144},{101,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strong_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{475,1},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{182,46}</string>
                <key>spriteSourceSize</key>
                <string>{188,62}</string>
                <key>textureRect</key>
                <string>{{1,187},{182,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{188,62}</string>
                <key>textureRect</key>
                <string>{{49,144},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{184,46}</string>
                <key>spriteSourceSize</key>
                <string>{188,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_strong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{188,62}</string>
                <key>textureRect</key>
                <string>{{568,144},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{724,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39cf0ba3439fbd17243d282f7b9bfa9e:d50983676d01177d38a2e52149c88ae9:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
