<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{1,1039},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{1,1039},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{211,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{211,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{427,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{427,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{222,452}</string>
                <key>textureRect</key>
                <string>{{1,1253},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{643,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{643,409},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{425,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{637,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{637,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{217,1039},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{217,1039},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{202,208}</string>
                <key>textureRect</key>
                <string>{{637,205},{202,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{202,208}</string>
                <key>textureRect</key>
                <string>{{637,205},{202,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{217,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{217,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{425,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{433,829},{210,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{433,829},{210,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{649,1041},{224,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{649,1041},{224,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{425,1},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{222,452}</string>
                <key>textureRect</key>
                <string>{{455,1267},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{433,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{433,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{433,1041},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,214}</string>
                <key>textureRect</key>
                <string>{{433,1041},{210,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{202,208}</string>
                <key>textureRect</key>
                <string>{{1,409},{202,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{202,208}</string>
                <key>textureRect</key>
                <string>{{1,409},{202,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{649,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{649,619},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1,829},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{1,829},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{425,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{425,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{657,829},{210,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{657,829},{210,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{455,1491},{224,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{455,1491},{224,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{213,205},{202,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{222,452}</string>
                <key>textureRect</key>
                <string>{{1,1477},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{217,829},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,214}</string>
                <key>spriteSourceSize</key>
                <string>{208,214}</string>
                <key>textureRect</key>
                <string>{{217,829},{208,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_2.png</string>
            <key>size</key>
            <string>{930,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df7baa90088f763ce13a3a20f92e8518:00bd123284a279ab8e760f15a028a9e2:4e391030a9c753db1dd413032f124705$</string>
            <key>textureFileName</key>
            <string>main_2.png</string>
        </dict>
    </dict>
</plist>
