<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1314}</string>
                <key>spriteSourceSize</key>
                <string>{640,1314}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{654,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{654,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,656}</string>
                <key>spriteSourceSize</key>
                <string>{210,656}</string>
                <key>textureRect</key>
                <string>{{619,1317},{210,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,726}</string>
                <key>spriteSourceSize</key>
                <string>{204,726}</string>
                <key>textureRect</key>
                <string>{{1,1317},{204,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,1008}</string>
                <key>spriteSourceSize</key>
                <string>{216,1008}</string>
                <key>textureRect</key>
                <string>{{831,667},{216,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,1008}</string>
                <key>spriteSourceSize</key>
                <string>{220,1008}</string>
                <key>textureRect</key>
                <string>{{831,1},{220,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{831,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,1008}</string>
                <key>spriteSourceSize</key>
                <string>{200,1008}</string>
                <key>textureRect</key>
                <string>{{1841,1},{200,1008}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{831,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1278,1103},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1278,1103},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{862,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{862,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,726}</string>
                <key>spriteSourceSize</key>
                <string>{204,726}</string>
                <key>textureRect</key>
                <string>{{207,1317},{204,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,1008}</string>
                <key>spriteSourceSize</key>
                <string>{216,1008}</string>
                <key>textureRect</key>
                <string>{{831,885},{216,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,1008}</string>
                <key>spriteSourceSize</key>
                <string>{220,1008}</string>
                <key>textureRect</key>
                <string>{{831,223},{220,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{1039,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,1008}</string>
                <key>spriteSourceSize</key>
                <string>{200,1008}</string>
                <key>textureRect</key>
                <string>{{1841,1011},{200,1008}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{1039,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1484,1103},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1484,1103},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{1070,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{206,212}</string>
                <key>textureRect</key>
                <string>{{1070,1103},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,726}</string>
                <key>spriteSourceSize</key>
                <string>{204,726}</string>
                <key>textureRect</key>
                <string>{{413,1317},{204,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,1008}</string>
                <key>spriteSourceSize</key>
                <string>{216,1008}</string>
                <key>textureRect</key>
                <string>{{831,1317},{216,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,1008}</string>
                <key>spriteSourceSize</key>
                <string>{220,1008}</string>
                <key>textureRect</key>
                <string>{{831,445},{220,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{1247,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,1008}</string>
                <key>spriteSourceSize</key>
                <string>{200,1008}</string>
                <key>textureRect</key>
                <string>{{831,1535},{200,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{206,214}</string>
                <key>textureRect</key>
                <string>{{1247,1737},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1455,1737},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,210}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{1455,1737},{204,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,167}</string>
                <key>spriteSourceSize</key>
                <string>{133,167}</string>
                <key>textureRect</key>
                <string>{{1690,1103},{133,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,167}</string>
                <key>spriteSourceSize</key>
                <string>{133,167}</string>
                <key>textureRect</key>
                <string>{{1690,1103},{133,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,129}</string>
                <key>spriteSourceSize</key>
                <string>{173,129}</string>
                <key>textureRect</key>
                <string>{{654,1},{173,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,129}</string>
                <key>spriteSourceSize</key>
                <string>{173,129}</string>
                <key>textureRect</key>
                <string>{{654,1},{173,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,151}</string>
                <key>spriteSourceSize</key>
                <string>{169,151}</string>
                <key>textureRect</key>
                <string>{{1661,1737},{169,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,151}</string>
                <key>spriteSourceSize</key>
                <string>{169,151}</string>
                <key>textureRect</key>
                <string>{{1661,1737},{169,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,173}</string>
                <key>spriteSourceSize</key>
                <string>{127,173}</string>
                <key>textureRect</key>
                <string>{{654,132},{127,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,171}</string>
                <key>spriteSourceSize</key>
                <string>{125,171}</string>
                <key>textureRect</key>
                <string>{{654,261},{125,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,171}</string>
                <key>spriteSourceSize</key>
                <string>{125,171}</string>
                <key>textureRect</key>
                <string>{{654,261},{125,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,171}</string>
                <key>spriteSourceSize</key>
                <string>{123,171}</string>
                <key>textureRect</key>
                <string>{{654,388},{123,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,171}</string>
                <key>spriteSourceSize</key>
                <string>{123,171}</string>
                <key>textureRect</key>
                <string>{{654,388},{123,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,173}</string>
                <key>spriteSourceSize</key>
                <string>{127,173}</string>
                <key>textureRect</key>
                <string>{{654,132},{127,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rope_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,9}</string>
                <key>spriteSourceSize</key>
                <string>{1280,9}</string>
                <key>textureRect</key>
                <string>{{643,1},{1280,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,170}</string>
                <key>spriteSourceSize</key>
                <string>{456,170}</string>
                <key>textureRect</key>
                <string>{{654,513},{456,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,67}</string>
                <key>spriteSourceSize</key>
                <string>{144,67}</string>
                <key>textureRect</key>
                <string>{{619,1975},{144,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{2042,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df7baa90088f763ce13a3a20f92e8518:00bd123284a279ab8e760f15a028a9e2:4e391030a9c753db1dd413032f124705$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
