<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-183}</string>
                <key>spriteSize</key>
                <string>{406,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{513,353},{406,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-183}</string>
                <key>spriteSize</key>
                <string>{378,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1047,1},{378,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-183}</string>
                <key>spriteSize</key>
                <string>{378,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1047,1},{378,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-197}</string>
                <key>spriteSize</key>
                <string>{416,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{951,381},{416,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-197}</string>
                <key>spriteSize</key>
                <string>{416,408}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{951,381},{416,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-205}</string>
                <key>spriteSize</key>
                <string>{408,392}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1485,1},{408,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,761},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,791},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1285,806},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-140}</string>
                <key>spriteSize</key>
                <string>{394,510}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,353},{394,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-140}</string>
                <key>spriteSize</key>
                <string>{394,510}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,353},{394,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-140}</string>
                <key>spriteSize</key>
                <string>{350,510}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{535,1},{350,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-124}</string>
                <key>spriteSize</key>
                <string>{350,532}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,409}</string>
                <key>spriteSourceSize</key>
                <string>{519,409}</string>
                <key>textureRect</key>
                <string>{{1369,395},{519,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_4.png</string>
            <key>size</key>
            <string>{1926,1433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_4.png</string>
        </dict>
    </dict>
</plist>
