<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1213},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1213},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1615},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1615},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1211},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,809},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1613},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1613},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1211},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,809},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,405},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{567,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1571,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1133,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-183}</string>
                <key>spriteSize</key>
                <string>{418,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1571,1613},{418,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-142}</string>
                <key>spriteSize</key>
                <string>{344,502}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1699,539},{344,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-131}</string>
                <key>spriteSize</key>
                <string>{326,526}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1699,1043},{326,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-131}</string>
                <key>spriteSize</key>
                <string>{344,536}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1699,1},{344,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_6.png</string>
            <key>size</key>
            <string>{2044,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_6.png</string>
        </dict>
    </dict>
</plist>
