<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,629},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,629},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1285,629},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1257},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,1257},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1285,1257},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_3.png</string>
            <key>size</key>
            <string>{1926,1884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_3.png</string>
        </dict>
    </dict>
</plist>
