<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,221}</string>
                <key>spriteSourceSize</key>
                <string>{361,221}</string>
                <key>textureRect</key>
                <string>{{1,1745},{359,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,441},{564,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_0_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1047,441},{564,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_0_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1449,441},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1449,441},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-183}</string>
                <key>spriteSize</key>
                <string>{406,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1629,1275},{406,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-183}</string>
                <key>spriteSize</key>
                <string>{374,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1191,1275},{374,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-183}</string>
                <key>spriteSize</key>
                <string>{374,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1191,1275},{374,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-234}</string>
                <key>spriteSize</key>
                <string>{442,394}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1089,1653},{442,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-212}</string>
                <key>spriteSize</key>
                <string>{476,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,1},{476,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-212}</string>
                <key>spriteSize</key>
                <string>{476,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,1},{476,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-174}</string>
                <key>spriteSize</key>
                <string>{430,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1533,843},{430,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-183}</string>
                <key>spriteSize</key>
                <string>{416,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,1},{416,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{563,1011},{640,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-119}</string>
                <key>spriteSize</key>
                <string>{394,524}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{563,1653},{394,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-161}</string>
                <key>spriteSize</key>
                <string>{416,468}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1061,1},{416,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-136}</string>
                <key>spriteSize</key>
                <string>{560,732}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1011},{560,732}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-126}</string>
                <key>spriteSize</key>
                <string>{640,1008}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1008}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_2.png</string>
            <key>size</key>
            <string>{2036,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_2.png</string>
        </dict>
    </dict>
</plist>
