<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,222}</string>
                <key>spriteSourceSize</key>
                <string>{318,224}</string>
                <key>textureRect</key>
                <string>{{1,1783},{318,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{300,224}</string>
                <key>spriteSourceSize</key>
                <string>{318,224}</string>
                <key>textureRect</key>
                <string>{{321,1783},{300,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-220}</string>
                <key>spriteSize</key>
                <string>{408,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1079,1435},{408,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-225}</string>
                <key>spriteSize</key>
                <string>{424,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1115,1009},{424,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-219}</string>
                <key>spriteSize</key>
                <string>{416,364}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1185,629},{416,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-220}</string>
                <key>spriteSize</key>
                <string>{408,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1079,1435},{408,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-225}</string>
                <key>spriteSize</key>
                <string>{424,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1115,1009},{424,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-220}</string>
                <key>spriteSize</key>
                <string>{408,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1079,1435},{408,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-225}</string>
                <key>spriteSize</key>
                <string>{424,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1115,1009},{424,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-183}</string>
                <key>spriteSize</key>
                <string>{416,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{641,1425},{416,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-183}</string>
                <key>spriteSize</key>
                <string>{416,436}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{641,1425},{416,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-122}</string>
                <key>spriteSize</key>
                <string>{354,538}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1285,1},{354,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-159}</string>
                <key>spriteSize</key>
                <string>{414,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,1009},{414,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-130}</string>
                <key>spriteSize</key>
                <string>{638,738}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1043},{638,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-120}</string>
                <key>spriteSize</key>
                <string>{640,1040}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1040}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-130}</string>
                <key>spriteSize</key>
                <string>{378,540}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{643,629},{378,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_1.png</string>
            <key>size</key>
            <string>{1640,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_1.png</string>
        </dict>
    </dict>
</plist>
