<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,185}</string>
                <key>spriteSourceSize</key>
                <string>{640,185}</string>
                <key>textureRect</key>
                <string>{{1,1403},{640,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,190}</string>
                <key>spriteSourceSize</key>
                <string>{153,190}</string>
                <key>textureRect</key>
                <string>{{221,1689},{145,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{128,44}</string>
                <key>textureRect</key>
                <string>{{1,1915},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,97}</string>
                <key>spriteSourceSize</key>
                <string>{640,97}</string>
                <key>textureRect</key>
                <string>{{1,1590},{640,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{221,1881},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{323,1881},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{516,1689},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{516,1791},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{425,1893},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{527,1893},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>well_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{224,218}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{1,1689},{224,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>well_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{156,146}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{368,1689},{156,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{642,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0499a677325d066986c54084ff4d69cd:ba051a20af681201cc9a5e6223c9b615:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
