<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{93,101}</string>
                <key>textureRect</key>
                <string>{{219,1067},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,101}</string>
                <key>spriteSourceSize</key>
                <string>{93,101}</string>
                <key>textureRect</key>
                <string>{{314,1066},{93,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_continue_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_continue_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,125},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,249},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,373},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_index_ranking_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{312,1},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_index_ranking_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{312,214},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_music_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{219,993},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_music_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{409,1066},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{409,1140},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,497},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ranking_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,621},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,745},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,122}</string>
                <key>spriteSourceSize</key>
                <string>{309,122}</string>
                <key>textureRect</key>
                <string>{{1,869},{309,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rule_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{312,427},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_rule_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{312,640},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{312,853},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_start_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{211,178}</string>
                <key>textureRect</key>
                <string>{{1,993},{211,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_close_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,36}</string>
                <key>spriteSourceSize</key>
                <string>{210,36}</string>
                <key>textureRect</key>
                <string>{{181,993},{210,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{491,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c75cb4f903f4fcb2d91ac938136326d:562c8a010f97a5dd7928b1707e73793f:21888b5a08ea8ad38b3bfcc0abc07d4d$</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
