<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,719},{320,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,721},{320,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-172}</string>
                <key>spriteSize</key>
                <string>{320,664}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,711},{320,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-165}</string>
                <key>spriteSize</key>
                <string>{320,678}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,707},{320,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-146}</string>
                <key>spriteSize</key>
                <string>{320,716}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-150}</string>
                <key>spriteSize</key>
                <string>{320,708}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,708}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-152}</string>
                <key>spriteSize</key>
                <string>{320,704}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,704}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,699},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_2.png</string>
            <key>size</key>
            <string>{1610,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457294eb6eba074add171656f8021776:6eb25534f55dc9391279fad2db40161d:df1b269e7007d42b12302ceddba5bb03$</string>
            <key>textureFileName</key>
            <string>role_2.png</string>
        </dict>
    </dict>
</plist>
