<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-157}</string>
                <key>spriteSize</key>
                <string>{320,694}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,699},{320,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,703},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,703},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,703},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,703},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,323},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,645},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,967},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1289},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-181}</string>
                <key>spriteSize</key>
                <string>{320,646}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,967},{320,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-147}</string>
                <key>spriteSize</key>
                <string>{320,714}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-148}</string>
                <key>spriteSize</key>
                <string>{320,712}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,717},{320,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-154}</string>
                <key>spriteSize</key>
                <string>{320,700}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-156}</string>
                <key>spriteSize</key>
                <string>{320,696}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,696}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_1.png</string>
            <key>size</key>
            <string>{1936,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457294eb6eba074add171656f8021776:6eb25534f55dc9391279fad2db40161d:df1b269e7007d42b12302ceddba5bb03$</string>
            <key>textureFileName</key>
            <string>role_1.png</string>
        </dict>
    </dict>
</plist>
