<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_map_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1300}</string>
                <key>spriteSourceSize</key>
                <string>{640,1300}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_map_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1300}</string>
                <key>spriteSourceSize</key>
                <string>{640,1300}</string>
                <key>textureRect</key>
                <string>{{1,1303},{640,1300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_map_2_role.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{415,515}</string>
                <key>spriteSourceSize</key>
                <string>{429,521}</string>
                <key>textureRect</key>
                <string>{{1497,643},{415,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,852}</string>
                <key>spriteSourceSize</key>
                <string>{550,852}</string>
                <key>textureRect</key>
                <string>{{643,643},{550,852}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,852}</string>
                <key>spriteSourceSize</key>
                <string>{550,852}</string>
                <key>textureRect</key>
                <string>{{1303,1195},{550,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1300}</string>
                <key>spriteSourceSize</key>
                <string>{640,1300}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,1300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{303,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,83}</string>
                <key>textureRect</key>
                <string>{{998,1195},{303,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{353,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,83}</string>
                <key>textureRect</key>
                <string>{{643,1195},{353,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{303,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,83}</string>
                <key>textureRect</key>
                <string>{{1855,1477},{303,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{315,83}</string>
                <key>spriteSourceSize</key>
                <string>{355,83}</string>
                <key>textureRect</key>
                <string>{{1855,1160},{315,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{1944,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b121303e72289edd8ebcf200ea68926:eb446cb84e4cde8d93030493df1b72ca:e1668820d8dd34f83f4fbdb95fc6a44a$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
