<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,101}</string>
                <key>spriteSourceSize</key>
                <string>{218,101}</string>
                <key>textureRect</key>
                <string>{{597,1933},{218,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{110,594}</string>
                <key>spriteSourceSize</key>
                <string>{122,594}</string>
                <key>textureRect</key>
                <string>{{1,1937},{110,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{263,585}</string>
                <key>spriteSourceSize</key>
                <string>{269,585}</string>
                <key>textureRect</key>
                <string>{{1170,1713},{263,585}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{437,589}</string>
                <key>spriteSourceSize</key>
                <string>{457,589}</string>
                <key>textureRect</key>
                <string>{{1610,1097},{437,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,342}</string>
                <key>spriteSourceSize</key>
                <string>{539,342}</string>
                <key>textureRect</key>
                <string>{{1705,556},{539,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{324,615}</string>
                <key>spriteSourceSize</key>
                <string>{326,623}</string>
                <key>textureRect</key>
                <string>{{492,1316},{324,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{599,536}</string>
                <key>spriteSourceSize</key>
                <string>{609,536}</string>
                <key>textureRect</key>
                <string>{{1113,1},{599,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,602}</string>
                <key>spriteSourceSize</key>
                <string>{538,602}</string>
                <key>textureRect</key>
                <string>{{573,1},{538,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{553,327}</string>
                <key>spriteSourceSize</key>
                <string>{559,327}</string>
                <key>textureRect</key>
                <string>{{1714,1},{553,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{489,637}</string>
                <key>spriteSourceSize</key>
                <string>{491,641}</string>
                <key>textureRect</key>
                <string>{{1,1298},{489,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{199,677}</string>
                <key>spriteSourceSize</key>
                <string>{219,685}</string>
                <key>textureRect</key>
                <string>{{512,637},{199,677}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{570,634}</string>
                <key>spriteSourceSize</key>
                <string>{596,644}</string>
                <key>textureRect</key>
                <string>{{1,1},{570,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{350,659}</string>
                <key>spriteSourceSize</key>
                <string>{382,661}</string>
                <key>textureRect</key>
                <string>{{818,1265},{350,659}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{509,659}</string>
                <key>spriteSourceSize</key>
                <string>{523,675}</string>
                <key>textureRect</key>
                <string>{{1,637},{509,659}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{438,652}</string>
                <key>spriteSourceSize</key>
                <string>{456,672}</string>
                <key>textureRect</key>
                <string>{{1170,1059},{438,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{401,658}</string>
                <key>spriteSourceSize</key>
                <string>{419,672}</string>
                <key>textureRect</key>
                <string>{{713,605},{401,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{587,518}</string>
                <key>spriteSourceSize</key>
                <string>{609,540}</string>
                <key>textureRect</key>
                <string>{{1116,539},{587,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{227,286}</string>
                <key>spriteSourceSize</key>
                <string>{231,286}</string>
                <key>textureRect</key>
                <string>{{1757,1688},{227,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{63,263}</string>
                <key>spriteSourceSize</key>
                <string>{67,265}</string>
                <key>textureRect</key>
                <string>{{818,1926},{63,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1ace18218e4c935cc29b8edc3e5dd1:f4d23c394afd2f3d5fc99c33b71214ab:4e391030a9c753db1dd413032f124705$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
