<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{242,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{1494,1886},{242,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{242,78}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{1953,1103},{242,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{1944,781},{320,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{294,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{576,1862},{294,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{400,78}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{883,1708},{400,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{320,78}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{872,1868},{320,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{320,92}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{1454,1180},{320,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{398,78}</string>
                <key>spriteSourceSize</key>
                <string>{400,92}</string>
                <key>textureRect</key>
                <string>{{883,1788},{398,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_del.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{446,540},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_rotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1454,1089},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d_scale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1194,1868},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{94,586}</string>
                <key>spriteSourceSize</key>
                <string>{102,602}</string>
                <key>textureRect</key>
                <string>{{911,1478},{94,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,594}</string>
                <key>spriteSourceSize</key>
                <string>{132,594}</string>
                <key>textureRect</key>
                <string>{{883,1574},{132,594}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,458}</string>
                <key>spriteSourceSize</key>
                <string>{575,458}</string>
                <key>textureRect</key>
                <string>{{962,1},{575,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{419,397}</string>
                <key>spriteSourceSize</key>
                <string>{433,399}</string>
                <key>textureRect</key>
                <string>{{1523,781},{419,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{514,537}</string>
                <key>spriteSourceSize</key>
                <string>{522,537}</string>
                <key>textureRect</key>
                <string>{{446,1},{514,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{432,504}</string>
                <key>spriteSourceSize</key>
                <string>{446,508}</string>
                <key>textureRect</key>
                <string>{{528,540},{432,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{364,621}</string>
                <key>spriteSourceSize</key>
                <string>{382,623}</string>
                <key>textureRect</key>
                <string>{{1,611},{364,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{559,307}</string>
                <key>spriteSourceSize</key>
                <string>{571,307}</string>
                <key>textureRect</key>
                <string>{{962,780},{559,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{590,254}</string>
                <key>spriteSourceSize</key>
                <string>{598,260}</string>
                <key>textureRect</key>
                <string>{{377,1217},{590,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{541,209}</string>
                <key>spriteSourceSize</key>
                <string>{551,215}</string>
                <key>textureRect</key>
                <string>{{911,1089},{541,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,317}</string>
                <key>spriteSourceSize</key>
                <string>{572,317}</string>
                <key>textureRect</key>
                <string>{{962,461},{562,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{471,255}</string>
                <key>spriteSourceSize</key>
                <string>{473,255}</string>
                <key>textureRect</key>
                <string>{{1526,524},{471,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,176}</string>
                <key>spriteSourceSize</key>
                <string>{552,176}</string>
                <key>textureRect</key>
                <string>{{911,1300},{546,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dcs_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{523,276}</string>
                <key>spriteSourceSize</key>
                <string>{529,276}</string>
                <key>textureRect</key>
                <string>{{633,1046},{523,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,159}</string>
                <key>spriteSourceSize</key>
                <string>{604,159}</string>
                <key>textureRect</key>
                <string>{{367,611},{604,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dcs_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,573}</string>
                <key>spriteSourceSize</key>
                <string>{171,573}</string>
                <key>textureRect</key>
                <string>{{1,1815},{171,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ercode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1940,1527},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{443,608}</string>
                <key>spriteSourceSize</key>
                <string>{455,612}</string>
                <key>textureRect</key>
                <string>{{1,1},{443,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{579,374}</string>
                <key>spriteSourceSize</key>
                <string>{597,392}</string>
                <key>textureRect</key>
                <string>{{1,1234},{579,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zsw_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{201,197}</string>
                <key>spriteSourceSize</key>
                <string>{209,199}</string>
                <key>textureRect</key>
                <string>{{1748,1328},{201,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{91,139}</string>
                <key>textureRect</key>
                <string>{{1951,1347},{83,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{123,112}</string>
                <key>spriteSourceSize</key>
                <string>{127,112}</string>
                <key>textureRect</key>
                <string>{{1888,1687},{123,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zsw_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{194,158}</string>
                <key>spriteSourceSize</key>
                <string>{194,166}</string>
                <key>textureRect</key>
                <string>{{1744,1527},{194,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,121}</string>
                <key>spriteSourceSize</key>
                <string>{62,121}</string>
                <key>textureRect</key>
                <string>{{1982,1812},{58,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{98,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,166}</string>
                <key>textureRect</key>
                <string>{{528,1046},{98,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,82}</string>
                <key>spriteSourceSize</key>
                <string>{122,82}</string>
                <key>textureRect</key>
                <string>{{1898,1812},{122,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zsw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,287}</string>
                <key>spriteSourceSize</key>
                <string>{160,287}</string>
                <key>textureRect</key>
                <string>{{1459,1274},{160,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zsw_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,158}</string>
                <key>spriteSourceSize</key>
                <string>{143,158}</string>
                <key>textureRect</key>
                <string>{{1738,1845},{143,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zsw_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{460,521}</string>
                <key>spriteSourceSize</key>
                <string>{478,527}</string>
                <key>textureRect</key>
                <string>{{1539,1},{460,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{259,255}</string>
                <key>textureRect</key>
                <string>{{1499,1436},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{226,203}</string>
                <key>spriteSourceSize</key>
                <string>{226,207}</string>
                <key>textureRect</key>
                <string>{{1494,1681},{226,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{164,156}</string>
                <key>spriteSourceSize</key>
                <string>{172,158}</string>
                <key>textureRect</key>
                <string>{{1722,1687},{164,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{207,239}</string>
                <key>spriteSourceSize</key>
                <string>{211,245}</string>
                <key>textureRect</key>
                <string>{{1285,1708},{207,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,289}</string>
                <key>spriteSourceSize</key>
                <string>{266,301}</string>
                <key>textureRect</key>
                <string>{{633,1571},{248,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zsw_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{175,146}</string>
                <key>spriteSourceSize</key>
                <string>{179,156}</string>
                <key>textureRect</key>
                <string>{{1776,1180},{175,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_1.png</string>
            <key>size</key>
            <string>{2041,1989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac1ace18218e4c935cc29b8edc3e5dd1:f4d23c394afd2f3d5fc99c33b71214ab:4e391030a9c753db1dd413032f124705$</string>
            <key>textureFileName</key>
            <string>main_1.png</string>
        </dict>
    </dict>
</plist>
