<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1470,966},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1470,1252},{286,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-151}</string>
                <key>spriteSize</key>
                <string>{500,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{470,538},{500,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-151}</string>
                <key>spriteSize</key>
                <string>{500,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{940,0},{500,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,538},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-155}</string>
                <key>spriteSize</key>
                <string>{498,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1076},{498,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{470,0},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{954,500},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1146,966},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1278,500},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-158}</string>
                <key>spriteSize</key>
                <string>{322,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1424,0},{322,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,-159}</string>
                <key>spriteSize</key>
                <string>{326,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{820,1038},{326,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-150}</string>
                <key>spriteSize</key>
                <string>{322,482}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{498,1038},{322,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1602,466},{158,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1760,0},{158,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_5_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1760,470},{158,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_6.png</string>
            <key>size</key>
            <string>{1942,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_6.png</string>
        </dict>
    </dict>
</plist>
