<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-156}</string>
                <key>spriteSize</key>
                <string>{158,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1418,1888},{158,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{992,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{470,1482},{286,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{944,1482},{286,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{992,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1144},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{470,944},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{940,944},{538,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1410,948},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1418,1418},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-151}</string>
                <key>spriteSize</key>
                <string>{510,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1530,464},{510,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-159}</string>
                <key>spriteSize</key>
                <string>{518,464}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1530,0},{518,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-100}</string>
                <key>spriteSize</key>
                <string>{454,572}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{454,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-100}</string>
                <key>spriteSize</key>
                <string>{454,572}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,572},{454,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-158}</string>
                <key>spriteSize</key>
                <string>{538,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{454,0},{538,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,-158}</string>
                <key>spriteSize</key>
                <string>{340,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1682},{340,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-158}</string>
                <key>spriteSize</key>
                <string>{538,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{454,472},{538,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{466,1768},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_4_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-149}</string>
                <key>spriteSize</key>
                <string>{270,476}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{942,1768},{270,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_0.png</string>
            <key>size</key>
            <string>{2048,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_0.png</string>
        </dict>
    </dict>
</plist>
