<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_4_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1186,468},{286,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1472,466},{286,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1008,1408},{286,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-150}</string>
                <key>spriteSize</key>
                <string>{286,474}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1330,942},{286,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-151}</string>
                <key>spriteSize</key>
                <string>{286,472}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1294,1416},{286,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,470},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-156}</string>
                <key>spriteSize</key>
                <string>{538,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,0},{538,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-151}</string>
                <key>spriteSize</key>
                <string>{500,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{506,940},{500,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-151}</string>
                <key>spriteSize</key>
                <string>{504,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1424},{504,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-151}</string>
                <key>spriteSize</key>
                <string>{504,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{504,1424},{504,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-151}</string>
                <key>spriteSize</key>
                <string>{506,484}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,940},{506,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-157}</string>
                <key>spriteSize</key>
                <string>{386,468}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1076,0},{386,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{538,470},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{862,470},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-158}</string>
                <key>spriteSize</key>
                <string>{324,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1006,942},{324,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_4_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-158}</string>
                <key>spriteSize</key>
                <string>{322,466}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1462,0},{322,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_2_4.png</string>
            <key>size</key>
            <string>{1784,1908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae99c55fa2c2394f0269bd37e850964:746bd706081acfb8f714297a75f9cee5:204deb5b4eacf1b9ece188db7a35ed84$</string>
            <key>textureFileName</key>
            <string>female_2_4.png</string>
        </dict>
    </dict>
</plist>
