<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>female_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{251,-154}</string>
                <key>spriteSize</key>
                <string>{138,444}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{448,1902},{138,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{236,-157}</string>
                <key>spriteSize</key>
                <string>{168,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1514},{168,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,-155}</string>
                <key>spriteSize</key>
                <string>{198,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{450,1514},{198,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,-156}</string>
                <key>spriteSize</key>
                <string>{190,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1682},{190,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{159,-156}</string>
                <key>spriteSize</key>
                <string>{190,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{450,1712},{190,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,-158}</string>
                <key>spriteSize</key>
                <string>{186,442}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1806,1328},{186,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-150}</string>
                <key>spriteSize</key>
                <string>{204,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1348,1746},{204,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-157}</string>
                <key>spriteSize</key>
                <string>{216,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1356,1312},{216,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-157}</string>
                <key>spriteSize</key>
                <string>{216,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{900,1514},{216,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{295,-130}</string>
                <key>spriteSize</key>
                <string>{50,368}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1992,1328},{50,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-155}</string>
                <key>spriteSize</key>
                <string>{218,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1350,1528},{218,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-155}</string>
                <key>spriteSize</key>
                <string>{218,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{900,1730},{218,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{454,0},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{908,0},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1362,0},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,202},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{454,202},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-154}</string>
                <key>spriteSize</key>
                <string>{202,454}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{908,202},{202,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{275,-152}</string>
                <key>spriteSize</key>
                <string>{90,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1338,1950},{90,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{270,-152}</string>
                <key>spriteSize</key>
                <string>{100,446}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{892,1948},{100,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1362,202},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,404},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{452,404},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{904,404},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1356,424},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,626},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{452,626},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{904,626},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1356,646},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,848},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{452,848},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{904,848},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1356,868},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1808,424},{222,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1070},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{452,1070},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{904,1070},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1356,1090},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1808,876},{222,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1292},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{452,1292},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-156}</string>
                <key>spriteSize</key>
                <string>{222,452}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{904,1292},{222,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-232,-167}</string>
                <key>spriteSize</key>
                <string>{176,448}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{0,1872},{176,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1816,0},{88,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-144}</string>
                <key>spriteSize</key>
                <string>{88,266}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1904,0},{88,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female_3_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-284,-143}</string>
                <key>spriteSize</key>
                <string>{72,236}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1794,1770},{72,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>female_3_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-295,-161}</string>
                <key>spriteSize</key>
                <string>{50,158}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1814,266},{50,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>female_1_2.png</string>
            <key>size</key>
            <string>{2042,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daa2f59ee2508f4541f9666771a8cab9:71bfe99d3e6a621b49579a11c2f0fc7d:6d84b3884ae778810b85ffd74a033c76$</string>
            <key>textureFileName</key>
            <string>female_1_2.png</string>
        </dict>
    </dict>
</plist>
