<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-126}</string>
                <key>spriteSize</key>
                <string>{230,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,933},{230,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-126}</string>
                <key>spriteSize</key>
                <string>{230,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,933},{230,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,435},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-125}</string>
                <key>spriteSize</key>
                <string>{244,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,435},{244,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-131}</string>
                <key>spriteSize</key>
                <string>{366,630}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,661},{366,630}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-131}</string>
                <key>spriteSize</key>
                <string>{366,630}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,661},{366,630}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{344,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{633,653},{344,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-128}</string>
                <key>spriteSize</key>
                <string>{344,636}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{633,653},{344,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-127}</string>
                <key>spriteSize</key>
                <string>{306,638}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,127},{306,638}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_1_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-127}</string>
                <key>spriteSize</key>
                <string>{306,638}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,127},{306,638}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-126}</string>
                <key>spriteSize</key>
                <string>{258,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{795,1},{258,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-126}</string>
                <key>spriteSize</key>
                <string>{258,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{795,1},{258,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-140}</string>
                <key>spriteSize</key>
                <string>{232,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{651,999},{232,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-132}</string>
                <key>spriteSize</key>
                <string>{214,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1055,1},{214,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-135}</string>
                <key>spriteSize</key>
                <string>{250,634}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,681},{250,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{371,1},{210,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-128}</string>
                <key>spriteSize</key>
                <string>{210,650}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{583,1},{210,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-124}</string>
                <key>spriteSize</key>
                <string>{222,658}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-235,-129}</string>
                <key>spriteSize</key>
                <string>{170,648}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1,1029},{170,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>male_2_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248,-125}</string>
                <key>spriteSize</key>
                <string>{144,654}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{225,1},{144,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male_2_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,-132}</string>
                <key>spriteSize</key>
                <string>{124,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,1008}</string>
                <key>textureRect</key>
                <string>{{1279,1},{124,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>male_1_2.png</string>
            <key>size</key>
            <string>{1920,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b091e10b2dc81faf83bf72042ae1996:0190be7a47a9b691744f90e5a644f21f:694aa288066bfb0aa2655f700bc0fe49$</string>
            <key>textureFileName</key>
            <string>male_1_2.png</string>
        </dict>
    </dict>
</plist>
