<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{981,640}</string>
                <key>spriteSourceSize</key>
                <string>{981,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{981,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{967,606}</string>
                <key>spriteSourceSize</key>
                <string>{981,640}</string>
                <key>textureRect</key>
                <string>{{1,643},{967,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{967,606}</string>
                <key>spriteSourceSize</key>
                <string>{981,640}</string>
                <key>textureRect</key>
                <string>{{984,1},{967,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{401,511}</string>
                <key>spriteSourceSize</key>
                <string>{405,527}</string>
                <key>textureRect</key>
                <string>{{1487,1559},{401,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{491,533}</string>
                <key>spriteSourceSize</key>
                <string>{497,541}</string>
                <key>textureRect</key>
                <string>{{1521,609},{491,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{481,539}</string>
                <key>spriteSourceSize</key>
                <string>{491,545}</string>
                <key>textureRect</key>
                <string>{{522,1251},{481,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{413,520}</string>
                <key>spriteSourceSize</key>
                <string>{421,538}</string>
                <key>textureRect</key>
                <string>{{1487,1144},{413,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{519,533}</string>
                <key>spriteSourceSize</key>
                <string>{521,541}</string>
                <key>textureRect</key>
                <string>{{1,1251},{519,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{480,484}</string>
                <key>spriteSourceSize</key>
                <string>{480,506}</string>
                <key>textureRect</key>
                <string>{{1005,1108},{480,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{535,497}</string>
                <key>spriteSourceSize</key>
                <string>{541,527}</string>
                <key>textureRect</key>
                <string>{{984,609},{535,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{1,1892},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_score_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{366,1792},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_score_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{366,1840},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,105}</string>
                <key>spriteSourceSize</key>
                <string>{359,127}</string>
                <key>textureRect</key>
                <string>{{1005,1594},{359,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{363,104}</string>
                <key>spriteSourceSize</key>
                <string>{371,104}</string>
                <key>textureRect</key>
                <string>{{1,1786},{363,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{361,103}</string>
                <key>spriteSourceSize</key>
                <string>{367,103}</string>
                <key>textureRect</key>
                <string>{{1005,1701},{361,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{416,37}</string>
                <key>spriteSourceSize</key>
                <string>{454,53}</string>
                <key>textureRect</key>
                <string>{{1953,1},{416,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{400,37}</string>
                <key>spriteSourceSize</key>
                <string>{454,53}</string>
                <key>textureRect</key>
                <string>{{404,1888},{400,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{377,37}</string>
                <key>spriteSourceSize</key>
                <string>{383,53}</string>
                <key>textureRect</key>
                <string>{{769,1806},{377,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{2013,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d47d348ee740e32f619bc30c61d4fab:2cfc6d7b103ac815ca6d4c35ddc3c772:e1668820d8dd34f83f4fbdb95fc6a44a$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
