<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,102}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{924,713},{208,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,92}</string>
                <key>spriteSourceSize</key>
                <string>{362,92}</string>
                <key>textureRect</key>
                <string>{{1,581},{362,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gp_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,68}</string>
                <key>spriteSourceSize</key>
                <string>{249,68}</string>
                <key>textureRect</key>
                <string>{{668,713},{249,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{578,577}</string>
                <key>spriteSourceSize</key>
                <string>{580,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{578,577}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_block_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,576}</string>
                <key>spriteSourceSize</key>
                <string>{577,576}</string>
                <key>textureRect</key>
                <string>{{580,1},{577,576}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_block_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1266,483},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_block_2_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1266,688},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,243}</string>
                <key>spriteSourceSize</key>
                <string>{184,243}</string>
                <key>textureRect</key>
                <string>{{738,713},{184,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,275}</string>
                <key>spriteSourceSize</key>
                <string>{230,275}</string>
                <key>textureRect</key>
                <string>{{404,581},{230,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_lantern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,262}</string>
                <key>spriteSourceSize</key>
                <string>{102,264}</string>
                <key>textureRect</key>
                <string>{{404,858},{102,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,106}</string>
                <key>textureRect</key>
                <string>{{1158,483},{480,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,494}</string>
                <key>spriteSourceSize</key>
                <string>{137,494}</string>
                <key>textureRect</key>
                <string>{{636,580},{131,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_xi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,317}</string>
                <key>spriteSourceSize</key>
                <string>{307,317}</string>
                <key>textureRect</key>
                <string>{{95,581},{307,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_xi_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,480}</string>
                <key>spriteSourceSize</key>
                <string>{462,480}</string>
                <key>textureRect</key>
                <string>{{1158,1},{462,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1621,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1abf1799a2ef39aa2b52c07d8dd356c2:78c7ab9784b7c6395a8b2702a5b473f6:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
