<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>germ_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{1272,1009},{85,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>germ_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{1272,1096},{65,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{1272,1163},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>protect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{366,359}</string>
                <key>spriteSourceSize</key>
                <string>{384,363}</string>
                <key>textureRect</key>
                <string>{{953,1},{366,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{235,163}</string>
                <key>spriteSourceSize</key>
                <string>{235,169}</string>
                <key>textureRect</key>
                <string>{{1147,362},{235,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,160}</string>
                <key>textureRect</key>
                <string>{{498,1403},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{202,90}</string>
                <key>spriteSourceSize</key>
                <string>{202,160}</string>
                <key>textureRect</key>
                <string>{{1231,1300},{202,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{495,156}</string>
                <key>spriteSourceSize</key>
                <string>{495,160}</string>
                <key>textureRect</key>
                <string>{{1,1403},{495,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{961,152}</string>
                <key>spriteSourceSize</key>
                <string>{961,160}</string>
                <key>textureRect</key>
                <string>{{799,1},{961,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{1565,154}</string>
                <key>spriteSourceSize</key>
                <string>{1565,160}</string>
                <key>textureRect</key>
                <string>{{643,1},{1565,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{161,220}</string>
                <key>spriteSourceSize</key>
                <string>{163,226}</string>
                <key>textureRect</key>
                <string>{{962,796},{161,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{161,218}</string>
                <key>spriteSourceSize</key>
                <string>{163,226}</string>
                <key>textureRect</key>
                <string>{{962,1018},{161,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{161,224}</string>
                <key>spriteSourceSize</key>
                <string>{163,226}</string>
                <key>textureRect</key>
                <string>{{799,964},{161,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,224}</string>
                <key>spriteSourceSize</key>
                <string>{163,226}</string>
                <key>textureRect</key>
                <string>{{799,1190},{161,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{202,226}</string>
                <key>textureRect</key>
                <string>{{1147,599},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{192,214}</string>
                <key>spriteSourceSize</key>
                <string>{202,226}</string>
                <key>textureRect</key>
                <string>{{953,580},{192,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{192,216}</string>
                <key>spriteSourceSize</key>
                <string>{202,226}</string>
                <key>textureRect</key>
                <string>{{953,362},{192,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{192,214}</string>
                <key>spriteSourceSize</key>
                <string>{202,226}</string>
                <key>textureRect</key>
                <string>{{1125,815},{192,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{149,212}</string>
                <key>spriteSourceSize</key>
                <string>{153,226}</string>
                <key>textureRect</key>
                <string>{{799,1416},{149,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{143,220}</string>
                <key>spriteSourceSize</key>
                <string>{153,226}</string>
                <key>textureRect</key>
                <string>{{962,1238},{143,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,226}</string>
                <key>spriteSourceSize</key>
                <string>{153,226}</string>
                <key>textureRect</key>
                <string>{{1125,1009},{145,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{143,216}</string>
                <key>spriteSourceSize</key>
                <string>{153,226}</string>
                <key>textureRect</key>
                <string>{{1013,1383},{143,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{498,1491},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{1184,1237},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1350,1567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8da31452c5538137e59d25c55ae5d4:177abeda9906112854ecccf92ed6a0db:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
