<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{300,224}</string>
                <key>spriteSourceSize</key>
                <string>{318,224}</string>
                <key>textureRect</key>
                <string>{{1283,1123},{300,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,405},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-240}</string>
                <key>spriteSize</key>
                <string>{564,402}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,1},{564,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-241}</string>
                <key>spriteSize</key>
                <string>{564,400}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,405},{564,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-213}</string>
                <key>spriteSize</key>
                <string>{408,376}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1283,745},{408,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-134}</string>
                <key>spriteSize</key>
                <string>{640,626}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1,643},{640,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-161}</string>
                <key>spriteSize</key>
                <string>{416,468}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1195,327},{416,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-141}</string>
                <key>spriteSize</key>
                <string>{324,512}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{1195,1},{324,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-138}</string>
                <key>spriteSize</key>
                <string>{328,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{629,807},{328,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-133}</string>
                <key>spriteSize</key>
                <string>{322,520}</string>
                <key>spriteSourceSize</key>
                <string>{640,1280}</string>
                <key>textureRect</key>
                <string>{{959,807},{322,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>theme_5.png</string>
            <key>size</key>
            <string>{1708,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be6dad577b57a51469188322e59a937:9968f287ce7ca9bd03c09666341b62a2:f50d5bfcc51de3fcb4fe6a55d952e269$</string>
            <key>textureFileName</key>
            <string>theme_5.png</string>
        </dict>
    </dict>
</plist>
