<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_0_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1654}</string>
                <key>spriteSourceSize</key>
                <string>{640,1654}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,1654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_1_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1654}</string>
                <key>spriteSourceSize</key>
                <string>{640,1654}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,1654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1700}</string>
                <key>spriteSourceSize</key>
                <string>{640,1700}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2_stone_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,422}</string>
                <key>spriteSourceSize</key>
                <string>{378,422}</string>
                <key>textureRect</key>
                <string>{{736,1657},{378,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_2_stone_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,390}</string>
                <key>spriteSourceSize</key>
                <string>{369,390}</string>
                <key>textureRect</key>
                <string>{{1160,1657},{369,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_6_jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,401}</string>
                <key>spriteSourceSize</key>
                <string>{320,401}</string>
                <key>textureRect</key>
                <string>{{1,1703},{320,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_6_jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,333}</string>
                <key>spriteSourceSize</key>
                <string>{330,333}</string>
                <key>textureRect</key>
                <string>{{404,1703},{330,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_6_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,362}</string>
                <key>spriteSourceSize</key>
                <string>{320,362}</string>
                <key>textureRect</key>
                <string>{{1552,1657},{320,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_4.png</string>
            <key>size</key>
            <string>{1926,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df0e598926ec1bf7f480b1732652612:b72fdee1fdf3ee136610c66a1f04b7e2:0c166cb9aa3493087663f21a0e310631$</string>
            <key>textureFileName</key>
            <string>main_4.png</string>
        </dict>
    </dict>
</plist>
