<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{401,46}</string>
                <key>spriteSourceSize</key>
                <string>{401,50}</string>
                <key>textureRect</key>
                <string>{{1,1995},{401,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_xyy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,459}</string>
                <key>spriteSourceSize</key>
                <string>{438,459}</string>
                <key>textureRect</key>
                <string>{{1,1534},{438,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_xyy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{418,518}</string>
                <key>spriteSourceSize</key>
                <string>{418,538}</string>
                <key>textureRect</key>
                <string>{{1,530},{418,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_zyy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{449,482}</string>
                <key>spriteSourceSize</key>
                <string>{451,482}</string>
                <key>textureRect</key>
                <string>{{1,1050},{449,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_zyy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{455,527}</string>
                <key>spriteSourceSize</key>
                <string>{459,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{455,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_1.png</string>
            <key>size</key>
            <string>{457,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca4d117ca5fee6b5b81e7b5d5391aeaa:402a3969ee4fe843b8daea719dfe3008:e1668820d8dd34f83f4fbdb95fc6a44a$</string>
            <key>textureFileName</key>
            <string>main_1.png</string>
        </dict>
    </dict>
</plist>
