<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1234,364}</string>
                <key>spriteSourceSize</key>
                <string>{1234,364}</string>
                <key>textureRect</key>
                <string>{{1,643},{1234,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_role_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{308,384}</string>
                <key>spriteSourceSize</key>
                <string>{316,384}</string>
                <key>textureRect</key>
                <string>{{1403,1},{308,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_role_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{172,193}</string>
                <key>spriteSourceSize</key>
                <string>{176,195}</string>
                <key>textureRect</key>
                <string>{{1520,701},{172,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{352,281}</string>
                <key>spriteSourceSize</key>
                <string>{352,283}</string>
                <key>textureRect</key>
                <string>{{1237,643},{352,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mm_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,206}</string>
                <key>spriteSourceSize</key>
                <string>{388,206}</string>
                <key>textureRect</key>
                <string>{{1520,311},{388,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1788,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec3867778fdd39369007c717732e462:9735ef0b8e3c2c919e55434d147ffcf5:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
