<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_2_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,739}</string>
                <key>spriteSourceSize</key>
                <string>{565,739}</string>
                <key>textureRect</key>
                <string>{{899,1203},{565,739}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_4_role_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{562,692}</string>
                <key>spriteSourceSize</key>
                <string>{850,692}</string>
                <key>textureRect</key>
                <string>{{1466,1203},{562,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_4_smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{425,756}</string>
                <key>spriteSourceSize</key>
                <string>{425,764}</string>
                <key>textureRect</key>
                <string>{{472,1203},{425,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_5_tear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,111}</string>
                <key>spriteSourceSize</key>
                <string>{219,111}</string>
                <key>textureRect</key>
                <string>{{1466,1897},{219,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_6_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,469}</string>
                <key>spriteSourceSize</key>
                <string>{841,469}</string>
                <key>textureRect</key>
                <string>{{1,1203},{841,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_6_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,2000}</string>
                <key>spriteSourceSize</key>
                <string>{1200,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1200,2000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,-1}</string>
                <key>spriteSize</key>
                <string>{41,36}</string>
                <key>spriteSourceSize</key>
                <string>{251,40}</string>
                <key>textureRect</key>
                <string>{{825,2006},{41,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{1077,1944},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1073,1987},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,0}</string>
                <key>spriteSize</key>
                <string>{169,43}</string>
                <key>spriteSourceSize</key>
                <string>{321,43}</string>
                <key>textureRect</key>
                <string>{{602,1961},{169,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,1}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{238,44}</string>
                <key>textureRect</key>
                <string>{{882,1961},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{563,1961},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{926,1944},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{563,2007},{37,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,0}</string>
                <key>spriteSize</key>
                <string>{67,44}</string>
                <key>spriteSourceSize</key>
                <string>{259,44}</string>
                <key>textureRect</key>
                <string>{{472,1961},{67,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,0}</string>
                <key>spriteSize</key>
                <string>{107,43}</string>
                <key>spriteSourceSize</key>
                <string>{319,43}</string>
                <key>textureRect</key>
                <string>{{773,1961},{107,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,1}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{248,40}</string>
                <key>textureRect</key>
                <string>{{609,2006},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{1114,1986},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{195,40}</string>
                <key>textureRect</key>
                <string>{{696,2006},{37,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_4_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,1}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{267,45}</string>
                <key>textureRect</key>
                <string>{{518,1961},{63,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{738,2006},{37,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{193,40}</string>
                <key>textureRect</key>
                <string>{{962,1944},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{246,43}</string>
                <key>textureRect</key>
                <string>{{954,1988},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{248,43}</string>
                <key>textureRect</key>
                <string>{{780,2006},{36,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{201,41}</string>
                <key>textureRect</key>
                <string>{{911,2005},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{1004,1944},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{1037,1987},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_7_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{653,2006},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_7_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{868,2006},{36,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>word_7_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{1041,1944},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word_7_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{187,41}</string>
                <key>textureRect</key>
                <string>{{996,1987},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{2029,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df0e598926ec1bf7f480b1732652612:b72fdee1fdf3ee136610c66a1f04b7e2:0c166cb9aa3493087663f21a0e310631$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
