<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_r_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{747,539}</string>
                <key>spriteSourceSize</key>
                <string>{747,539}</string>
                <key>textureRect</key>
                <string>{{1119,542},{747,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_r_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,548}</string>
                <key>spriteSourceSize</key>
                <string>{748,548}</string>
                <key>textureRect</key>
                <string>{{1,836},{748,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_r_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{833,575}</string>
                <key>spriteSourceSize</key>
                <string>{833,575}</string>
                <key>textureRect</key>
                <string>{{1,1},{833,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_r_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,539}</string>
                <key>spriteSourceSize</key>
                <string>{748,539}</string>
                <key>textureRect</key>
                <string>{{1119,1},{748,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_r_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{749,539}</string>
                <key>spriteSourceSize</key>
                <string>{749,539}</string>
                <key>textureRect</key>
                <string>{{578,1},{749,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gs_w_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{337,155}</string>
                <key>spriteSourceSize</key>
                <string>{349,169}</string>
                <key>textureRect</key>
                <string>{{1186,1240},{337,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{339,155}</string>
                <key>spriteSourceSize</key>
                <string>{341,167}</string>
                <key>textureRect</key>
                <string>{{751,786},{339,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{337,155}</string>
                <key>spriteSourceSize</key>
                <string>{349,169}</string>
                <key>textureRect</key>
                <string>{{1525,1240},{337,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,206}</string>
                <key>spriteSourceSize</key>
                <string>{433,206}</string>
                <key>textureRect</key>
                <string>{{751,1100},{433,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{339,155}</string>
                <key>spriteSourceSize</key>
                <string>{349,169}</string>
                <key>textureRect</key>
                <string>{{751,943},{339,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{230,32}</string>
                <key>spriteSourceSize</key>
                <string>{244,42}</string>
                <key>textureRect</key>
                <string>{{578,752},{230,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs_w_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{338,155}</string>
                <key>spriteSourceSize</key>
                <string>{344,167}</string>
                <key>textureRect</key>
                <string>{{1186,1083},{338,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1868,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd7692ad29f98e4daddee63de835cbb8:29732ce2b71bb4ef0c2017e85239259e:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
