<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{323,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{645,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1,1441},{320,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{967,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1289,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{721,1441},{320,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1611,1},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-145}</string>
                <key>spriteSize</key>
                <string>{320,718}</string>
                <key>spriteSourceSize</key>
                <string>{320,1008}</string>
                <key>textureRect</key>
                <string>{{1611,721},{320,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_0.png</string>
            <key>size</key>
            <string>{1932,1762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:457294eb6eba074add171656f8021776:6eb25534f55dc9391279fad2db40161d:df1b269e7007d42b12302ceddba5bb03$</string>
            <key>textureFileName</key>
            <string>role_0.png</string>
        </dict>
    </dict>
</plist>
