<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1194,640}</string>
                <key>spriteSourceSize</key>
                <string>{1194,640}</string>
                <key>textureRect</key>
                <string>{{643,1},{1194,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gp.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1400,640}</string>
                <key>spriteSourceSize</key>
                <string>{1400,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1400,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,139}</string>
                <key>spriteSourceSize</key>
                <string>{290,139}</string>
                <key>textureRect</key>
                <string>{{790,1197},{290,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,139}</string>
                <key>spriteSourceSize</key>
                <string>{330,139}</string>
                <key>textureRect</key>
                <string>{{1285,1178},{330,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,139}</string>
                <key>spriteSourceSize</key>
                <string>{290,139}</string>
                <key>textureRect</key>
                <string>{{931,1197},{290,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,139}</string>
                <key>spriteSourceSize</key>
                <string>{321,139}</string>
                <key>textureRect</key>
                <string>{{649,1197},{321,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,71}</string>
                <key>spriteSourceSize</key>
                <string>{182,71}</string>
                <key>textureRect</key>
                <string>{{1072,1197},{182,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{176,112}</string>
                <key>spriteSourceSize</key>
                <string>{176,128}</string>
                <key>textureRect</key>
                <string>{{1,1403},{176,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{176,110}</string>
                <key>spriteSourceSize</key>
                <string>{176,128}</string>
                <key>textureRect</key>
                <string>{{1072,1270},{176,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{176,112}</string>
                <key>spriteSourceSize</key>
                <string>{176,128}</string>
                <key>textureRect</key>
                <string>{{179,1403},{176,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laser_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{176,106}</string>
                <key>spriteSourceSize</key>
                <string>{176,128}</string>
                <key>textureRect</key>
                <string>{{1072,1382},{176,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{357,1403},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1250,1334},{58,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_g_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{503,1403},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_g_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,22}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1250,1270},{62,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m_r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1495,1245},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{790,1489},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_y_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1495,1359},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_y_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,24}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1595,1178},{64,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,65}</string>
                <key>textureRect</key>
                <string>{{1426,1178},{167,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,67}</string>
                <key>spriteSourceSize</key>
                <string>{252,67}</string>
                <key>textureRect</key>
                <string>{{1426,1245},{252,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,533}</string>
                <key>spriteSourceSize</key>
                <string>{363,533}</string>
                <key>textureRect</key>
                <string>{{1285,1},{363,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,640}</string>
                <key>spriteSourceSize</key>
                <string>{353,640}</string>
                <key>textureRect</key>
                <string>{{1285,536},{353,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_0.png</string>
            <key>size</key>
            <string>{1649,1519}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae58f913442a4d2742d0791a9ff893c:3e6cbec25f8d54a776dedde0885fc722:8af564ee1558da1cc389ad987a3337c1$</string>
            <key>textureFileName</key>
            <string>main_0.png</string>
        </dict>
    </dict>
</plist>
