<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{1873,549},{108,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1692,1429},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1692,1429},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1692,1429},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1692,1429},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{419,1531},{210,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,222}</string>
                <key>spriteSourceSize</key>
                <string>{210,222}</string>
                <key>textureRect</key>
                <string>{{419,1531},{210,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{1466,1495},{224,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,280}</string>
                <key>spriteSourceSize</key>
                <string>{224,280}</string>
                <key>textureRect</key>
                <string>{{1466,1495},{224,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,320}</string>
                <key>spriteSourceSize</key>
                <string>{228,320}</string>
                <key>textureRect</key>
                <string>{{1613,1107},{228,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,386}</string>
                <key>spriteSourceSize</key>
                <string>{226,386}</string>
                <key>textureRect</key>
                <string>{{1425,879},{226,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,210}</string>
                <key>spriteSourceSize</key>
                <string>{202,210}</string>
                <key>textureRect</key>
                <string>{{1692,1429},{202,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,518}</string>
                <key>spriteSourceSize</key>
                <string>{218,518}</string>
                <key>textureRect</key>
                <string>{{637,1231},{218,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,586}</string>
                <key>spriteSourceSize</key>
                <string>{216,586}</string>
                <key>textureRect</key>
                <string>{{837,795},{216,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,792}</string>
                <key>spriteSourceSize</key>
                <string>{202,792}</string>
                <key>textureRect</key>
                <string>{{837,1},{202,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,864}</string>
                <key>spriteSourceSize</key>
                <string>{204,864}</string>
                <key>textureRect</key>
                <string>{{213,943},{204,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,940}</string>
                <key>spriteSourceSize</key>
                <string>{210,940}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,320}</string>
                <key>spriteSourceSize</key>
                <string>{228,320}</string>
                <key>textureRect</key>
                <string>{{631,1671},{228,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,386}</string>
                <key>spriteSourceSize</key>
                <string>{226,386}</string>
                <key>textureRect</key>
                <string>{{1157,1231},{226,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,518}</string>
                <key>spriteSourceSize</key>
                <string>{218,518}</string>
                <key>textureRect</key>
                <string>{{637,1451},{218,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_2_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,586}</string>
                <key>spriteSourceSize</key>
                <string>{216,586}</string>
                <key>textureRect</key>
                <string>{{419,943},{216,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,656}</string>
                <key>spriteSourceSize</key>
                <string>{210,656}</string>
                <key>textureRect</key>
                <string>{{1449,1},{210,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,792}</string>
                <key>spriteSourceSize</key>
                <string>{202,792}</string>
                <key>textureRect</key>
                <string>{{1041,1},{202,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,864}</string>
                <key>spriteSourceSize</key>
                <string>{204,864}</string>
                <key>textureRect</key>
                <string>{{425,1},{204,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_2_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,940}</string>
                <key>spriteSourceSize</key>
                <string>{210,940}</string>
                <key>textureRect</key>
                <string>{{1,943},{210,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,320}</string>
                <key>spriteSourceSize</key>
                <string>{228,320}</string>
                <key>textureRect</key>
                <string>{{1236,1619},{228,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,386}</string>
                <key>spriteSourceSize</key>
                <string>{226,386}</string>
                <key>textureRect</key>
                <string>{{1385,1107},{226,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,518}</string>
                <key>spriteSourceSize</key>
                <string>{218,518}</string>
                <key>textureRect</key>
                <string>{{1449,659},{218,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,586}</string>
                <key>spriteSourceSize</key>
                <string>{216,586}</string>
                <key>textureRect</key>
                <string>{{637,1013},{216,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car_3_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,656}</string>
                <key>spriteSourceSize</key>
                <string>{210,656}</string>
                <key>textureRect</key>
                <string>{{1661,1},{210,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,792}</string>
                <key>spriteSourceSize</key>
                <string>{202,792}</string>
                <key>textureRect</key>
                <string>{{1245,1},{202,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,864}</string>
                <key>spriteSourceSize</key>
                <string>{204,864}</string>
                <key>textureRect</key>
                <string>{{631,1},{204,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car_3_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,940}</string>
                <key>spriteSourceSize</key>
                <string>{210,940}</string>
                <key>textureRect</key>
                <string>{{213,1},{210,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,92}</string>
                <key>spriteSourceSize</key>
                <string>{250,92}</string>
                <key>textureRect</key>
                <string>{{1873,297},{250,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,133}</string>
                <key>spriteSourceSize</key>
                <string>{153,133}</string>
                <key>textureRect</key>
                <string>{{637,867},{153,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,163}</string>
                <key>spriteSourceSize</key>
                <string>{143,163}</string>
                <key>textureRect</key>
                <string>{{1225,1013},{143,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,133}</string>
                <key>spriteSourceSize</key>
                <string>{153,133}</string>
                <key>textureRect</key>
                <string>{{637,867},{153,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,131}</string>
                <key>spriteSourceSize</key>
                <string>{153,131}</string>
                <key>textureRect</key>
                <string>{{1843,1207},{153,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,131}</string>
                <key>spriteSourceSize</key>
                <string>{153,131}</string>
                <key>textureRect</key>
                <string>{{1843,1207},{153,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,131}</string>
                <key>spriteSourceSize</key>
                <string>{167,131}</string>
                <key>textureRect</key>
                <string>{{1843,1038},{167,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,131}</string>
                <key>spriteSourceSize</key>
                <string>{167,131}</string>
                <key>textureRect</key>
                <string>{{1843,1038},{167,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,127}</string>
                <key>spriteSourceSize</key>
                <string>{167,127}</string>
                <key>textureRect</key>
                <string>{{1692,1641},{167,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,127}</string>
                <key>spriteSourceSize</key>
                <string>{167,127}</string>
                <key>textureRect</key>
                <string>{{1692,1641},{167,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,163}</string>
                <key>spriteSourceSize</key>
                <string>{143,163}</string>
                <key>textureRect</key>
                <string>{{1225,1013},{143,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,163}</string>
                <key>spriteSourceSize</key>
                <string>{133,163}</string>
                <key>textureRect</key>
                <string>{{1466,1777},{133,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,157}</string>
                <key>spriteSourceSize</key>
                <string>{143,157}</string>
                <key>textureRect</key>
                <string>{{1813,879},{143,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,157}</string>
                <key>spriteSourceSize</key>
                <string>{143,157}</string>
                <key>textureRect</key>
                <string>{{1813,879},{143,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{368,1809},{145,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{368,1809},{145,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,163}</string>
                <key>spriteSourceSize</key>
                <string>{133,163}</string>
                <key>textureRect</key>
                <string>{{1466,1777},{133,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,153}</string>
                <key>spriteSourceSize</key>
                <string>{145,153}</string>
                <key>textureRect</key>
                <string>{{213,1809},{145,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,153}</string>
                <key>spriteSourceSize</key>
                <string>{145,153}</string>
                <key>textureRect</key>
                <string>{{213,1809},{145,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{1631,1777},{145,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{1631,1777},{145,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{1778,1779},{145,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{145,151}</string>
                <key>textureRect</key>
                <string>{{1778,1779},{145,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,281}</string>
                <key>spriteSourceSize</key>
                <string>{281,281}</string>
                <key>textureRect</key>
                <string>{{953,1671},{281,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,96}</string>
                <key>spriteSourceSize</key>
                <string>{294,96}</string>
                <key>textureRect</key>
                <string>{{1873,1},{294,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,113}</string>
                <key>spriteSourceSize</key>
                <string>{136,113}</string>
                <key>textureRect</key>
                <string>{{1861,1641},{136,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_1.png</string>
            <key>size</key>
            <string>{1975,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df7baa90088f763ce13a3a20f92e8518:00bd123284a279ab8e760f15a028a9e2:4e391030a9c753db1dd413032f124705$</string>
            <key>textureFileName</key>
            <string>main_1.png</string>
        </dict>
    </dict>
</plist>
