html {
  background: #000;
}

html body, html div, html ul {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}

html ul {
  list-style-type: none;
}

html a {
  text-decoration: none;
}

#Cocos2dGameContainer {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#all {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#all section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#dialogs {
  z-index: 100;
}

#dialogs .dialogs_background {
  margin-top: -640px;
  position: absolute;
  top: 50%;
  left: 0;
}

#dialogs .dialogs_layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#dialogs .dialogs_layer .dialogs_inner {
  margin-top: -568px;
  width: 640px;
  height: 1136px;
  position: absolute;
  top: 50%;
  left: 0;
}

#dialogs .dialogs_close {
  width: 121px;
  height: 105px;
  background: url(../res/Public/btn_close.png) no-repeat no-repeat;
  position: absolute;
  left: 20px;
  top: 40px;
}

#dialogs #dialogs_pause {
  background: rgba(0, 0, 0, 0.6);
}

#dialogs #dialogs_pause #pause_music {
  width: 113px;
  height: 47px;
  position: absolute;
  top: 120px;
  right: 40px;
}

#dialogs #dialogs_pause #pause_music a {
  width: 113px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#dialogs #dialogs_pause #pause_music a.open {
  background: url(../res//Public//music_0.png);
}

#dialogs #dialogs_pause #pause_music a.close {
  background: url(../res//Public//music_1.png);
}

#dialogs #dialogs_pause #pause_music a.active {
  display: block;
}

#dialogs #dialogs_pause #pause_main {
  margin-top: -129px;
  margin-left: -265px;
  width: 530px;
  height: 258px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  background: url(../res/Public/pause/btn_mask.png);
}

#dialogs #dialogs_pause #pause_main .pause_item {
  margin-top: 96px;
  margin-right: 25px;
  width: 106px;
  height: 106px;
  display: inline-block;
}

#dialogs #dialogs_pause #pause_main #pause_home {
  left: 50px;
  background: url(../res/Public/pause/btn_home_1.png);
}

#dialogs #dialogs_pause #pause_main #pause_home:active {
  background: url(../res/Public/pause/btn_home_2.png);
}

#dialogs #dialogs_pause #pause_main #pause_continue {
  left: 250px;
  background: url(../res/Public/pause/btn_continue_1.png);
}

#dialogs #dialogs_pause #pause_main #pause_continue:active {
  background: url(../res/Public/pause/btn_continue_2.png);
}

#dialogs #dialogs_pause #pause_main #pause_replay {
  left: 100px;
  background: url(../res/Public/pause/btn_replay_1.png);
}

#dialogs #dialogs_pause #pause_main #pause_replay:active {
  background: url(../res/Public/pause/btn_replay_2.png);
}

#dialogs #dialogs_pause #pause_main #pause_close {
  width: 83px;
  height: 83px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

#dialogs #dialogs_record .btn_prize {
  width: 79px;
  height: 70px;
  position: absolute;
  right: 68px;
  top: 238px;
}

#dialogs #dialogs_record #record_list {
  padding: 8px;
  width: 420px;
  height: 517px;
  position: absolute;
  top: 381px;
  left: 96px;
  overflow-y: auto;
  overflow-x: hidden;
}

#dialogs #dialogs_record #record_list li {
  margin-bottom: 10px;
  width: 420px;
  height: 85px;
  position: relative;
}

#dialogs #dialogs_record #record_list li .record_info {
  width: 334px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 60px;
}

#dialogs #dialogs_record #record_list li .record_info .record_star {
  width: 80px;
  height: 21px;
  position: absolute;
  top: 2px;
  left: -12px;
  text-align: center;
}

#dialogs #dialogs_record #record_list li .record_info .record_star .record_star_inner {
  width: 22px;
  height: 21px;
  display: inline-block;
  background: url(../res/Public/record/star.png);
}

#dialogs #dialogs_record #record_list li .record_info .record_face {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 33px;
  left: 3px;
}

#dialogs #dialogs_record #record_list li .record_info .record_name {
  width: 130px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  color: #e27d75;
  display: block;
  position: absolute;
  top: 45px;
  left: 129px;
  border: 1px solid red;
}

#dialogs #dialogs_record #record_list li .record_info .record_score {
  width: 264px;
  height: 42px;
  line-height: 42px;
  font-size: 40px;
  text-align: left;
  overflow: hidden;
  color: #13fefb;
  display: block;
  position: absolute;
  top: 38px;
  left: 65px;
  font-weight: bold;
}

#dialogs #dialogs_record #record_list li .record_info .record_mask {
  width: 334px;
  height: 58px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#dialogs #dialogs_record #record_list li .record_num {
  width: 60px;
  height: 41px;
  position: absolute;
  top: 22px;
  left: 0;
}

#dialogs #dialogs_record #record_list li .record_num.num_0 {
  background: url(../res//Public/record/1.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_1 {
  background: url(../res//Public/record/2.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_2 {
  background: url(../res//Public/record/3.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_3 {
  background: url(../res//Public/record/4.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_4 {
  background: url(../res//Public/record/5.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_5 {
  background: url(../res//Public/record/6.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_6 {
  background: url(../res//Public/record/7.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_7 {
  background: url(../res//Public/record/8.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_8 {
  background: url(../res//Public/record/9.png);
}

#dialogs #dialogs_record #record_list li .record_num.num_9 {
  background: url(../res//Public/record/10.png);
}

#dialogs #dialogs_award input {
  width: 500px;
  height: 60px;
  left: 70px;
  text-align: center;
  color: #ce23ff;
  font-size: 32px;
  font-weight: bold;
  background: none;
  position: absolute;
  border: none;
  border: 5px solid #fe20f1;
}

#dialogs #dialogs_award input#award_name {
  top: 385px;
}

#dialogs #dialogs_award input#award_tel {
  top: 490px;
}

#dialogs #dialogs_award input#award_address {
  top: 595px;
}

#dialogs #dialogs_award #award_tips {
  width: 500px;
  height: 40px;
  line-height: 40px;
  color: red;
  font-size: 24px;
  display: block;
  text-align: center;
  position: absolute;
  top: 670px;
  left: 70px;
}

#dialogs #dialogs_award #award_post {
  width: 500px;
  height: 70px;
  line-height: 70px;
  position: absolute;
  top: 710px;
  left: 70px;
  border: 5px solid #fff;
  background: #ce23ff;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

#dialogs #dialogs_share {
  background: rgba(0, 0, 0, 0.8);
}

#dialogs #dialogs_share .dialogs_inner {
  background: url(../res/Public/share.png) no-repeat no-repeat 80px 70px;
}

#dialogs #dialogs_guide {
  background: rgba(0, 0, 0, 0.8);
}

#dialogs .preload_precent {
  width: 90%;
  height: 450px;
  border: 1px solid red;
  position: absolute;
  top: 360px;
  left: 9%;
  background: #421057;
}

#dialogs .preload_precent .precent_word {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  top: 270px;
  left: 0;
}

#dialogs .preload_precent .precent_progress {
  width: 100%;
  height: 0;
  background: #fffc01;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn {
  display: block;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.3s ease-in-out 0s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
