<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1,1777},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_replay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{151,1777},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{301,1777},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{451,1777},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,45}</string>
                <key>spriteSize</key>
                <string>{590,1138}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{1,593},{590,1138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,45}</string>
                <key>spriteSize</key>
                <string>{590,1138}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{1,1185},{590,1138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theme_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,39}</string>
                <key>spriteSize</key>
                <string>{590,1150}</string>
                <key>spriteSourceSize</key>
                <string>{640,1400}</string>
                <key>textureRect</key>
                <string>{{1,1},{590,1150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1152,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ebba18b94f04fcb4814d5c7d6e96b7a:48ef9b4883b5cacc016903c82d3a0d0c:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
